.grid-x
  .cell
    %h2
      Questions
    .cell
      %table.striped
        %tr
          %th
            Label
          %th
            Req'd
          %th
        = f.fields_for :questions, questions do |ff|
          %tr{ id: "question-#{ff.object.id}", class: cycle('odd', 'even') }
            %td
              = ff.label :question, ff.object.name, id: "question-#{ff.object.id}-name"
            %td
              = ff.check_box :required, value: ff.object.required, id: "question-#{ff.object.id}-required"
            %td
              = link_to 'Edit', edit_grant_question_path(grant, ff.object), id: "question-#{ff.object.id}-edit"
