- content_for(:page_title, "Editing '#{@question.name}'")

.grid-x
  .cell
    %h1 Editing question

    %p
      Answer type:
      = @question.answer_type

.grid-x
  .cell
    = form_with model: [@grant, @question], local: true do |f|
      = render 'form', f: f, question: @question

.grid-x
  .cell
    = link_to 'Back to Grant', grant_path(@grant)
    \|
    = link_to 'Edit Grant', edit_grant_path(@grant)
