- content_for(:page_title, "Question - #{@question.text}")

.cell
  %h1 Viewing question

%p#notice= notice

.cell
  %b Question Text:
  = @question.text
.cell
  %b Help text:
  = @question.help_text
.cell
  %b Required:
  = @question.required
.cell
  = link_to 'Edit', edit_question_path(@question)
  \|
  = link_to 'Back', questions_path
