- content_for(:page_title, "Question - #{@question.name}")

.cell
  %h1 Viewing question

%p#notice= notice
/ %p
/   %b Field:
/   = @question.field
/ %p
/   %b Grant:
/   = @question.grant

.cell
  %b Name:
  = @question.name
.cell
  %b Help text:
  = @question.help_text
.cell
  %b Placeholder text:
  = @question.placeholder_text
.cell
  %b Required:
  = @question.required
.cell
  = link_to 'Edit', edit_question_path(@question)
  \|
  = link_to 'Back', questions_path
