- if user_signed_in?
  - if current_user.system_admin?
    %li
      = link_to 'Admin', '#'
      %ul#admin.menu
        %li
          = link_to 'Review Access Requests', grant_creator_requests_path
  %li
    = link_to "#{full_name(current_user)}", '#'
    %ul#logged-in.menu
      %li
        = link_to 'Edit Your Profile', profile_path
      %li
        = link_to 'Log Out', destroy_user_session_path, method: :delete
- else
  %li.menu-text.login
    = link_to 'Login', new_user_session_path
