- if user_signed_in?
  - if current_user.system_admin?
    %li#admin
      = link_to 'Admin', '#'
      %ul.menu
        %li
          = link_to 'Review Access Requests', grant_creator_requests_path
        %li
          = link_to 'Banners', banners_path
        %li
          = link_to 'All Grants', grants_path
        %li
          = link_to 'All Users', users_path
  %li#logged-in
    = link_to "#{full_name(current_user)}", '#'
    %ul.menu
      %li
        = link_to 'Edit Your Profile', profile_path
      - if current_user.registered_user?
        %li
          = link_to 'Log Out', destroy_registered_user_session_path, method: :delete
      - if current_user.saml_user?
        %li
          = link_to 'Log Out', destroy_saml_user_session_path, method: :delete
- else
  %li
    = link_to 'Log in', login_index_path
