%tr{ data: { invite: invitation.id } }
  %td.email
    = invitation.email
  %td.created
    = time_tag(invitation.created_at.to_date, invitation.created_at.to_date)
  %td.confirmation
    = (invitation.confirmed_at.nil?) ? '-' : time_tag(invitation.confirmed_at, invitation.confirmed_at.to_formatted_s(:default))
  %td.inviter
    = full_name(invitation.inviter)
  %td.manage
    - if invitation.confirmed_at.nil?
      %ul.dropdown.menu{ data: { "dropdown-menu": '' } }
        %li.text
          = link_to 'Manage', '#', id: "manage-#{dom_id(invitation)}"
          %ul.menu
            %li
              = link_to 'Send Reminder', grant_invitation_reminder_url(grant.id, invitation)
              = link_to 'Delete', grant_invitation_path(grant.id, invitation), method: :delete, data: { confirm: 'This inviation will be deleted and the recipient will need to be invited again.' }

