<fieldset class="form_builder_question_fieldset">
  <legend>Question <%= question.link_to_remove "Delete", class: "button tiny btn-pill warning" if has_edit_permission %></legend>
  <table class="question_table table table-condensed" style="width: auto;">
    <tr>
      <td>Text</td>
      <td>Display order</td>
      <td><!-- Export code --></td>
      <td>Is mandatory</td>
      <td>Response type</td>
      <td class="form_builder_question_std_answer_set">Standard answer set to use</td>
    </tr>

    <tr>
      <td><%= question.text_area :text, rows: 1 %></td>
      <td><%= question.text_field :display_order, size: 3 %></td>
      <td><%# question.text_field :export_code, size: 5 %></td>
      <td><%= question.select :is_mandatory, options_for_select([true, false], question.object.is_mandatory || false), include_blank: true %></td>
      <td><%= question.select :response_type, Submission::Question::VIEW_RESPONSE_TYPE_TRANSLATION.invert.to_a, {include_blank: true}, class: "form_builder_question_response_type" %></td>
<!--       <td class="form_builder_question_std_answer_set">
        <%#= question.select :form_builder_std_answer_set_id, @standard_answer_sets, {include_blank: 'Please select'}, style: 'width: 200px', class: 'form_builder_question_std_answer_set', data: {behavior: 'select2'} %>
      </td> -->
    </tr>

    <tr>
      <td colspan="8">Instruction</td>
    </tr>
    <tr>
      <td colspan="8"><%= question.text_area :instruction, rows: 1, cols: 100 %></td>
    </tr>
    <%# TODO: Condition Groups %>
    <% if true == false && !question.object.new_record? %>
      <tr>
        <td colspan="8">
          <%= render partial: 'condition_groups/owner_container_container', locals: {owner: question.object} %>
        </td>
      </tr>
    <% end %>
  </table>

  <table class="form_builder_answers_table table table-condensed table-striped" style="width: auto;">
    <tr>
      <td colspan=4>
        Multiple Choice Options
        <% if has_edit_permission %>
          <%= question.link_to_add "Add", :multiple_choice_options, data: { location: 'parent', target: ".submission_multiple_choice_options_table"}, class: 'button btn-pill small success' %>
        <% end %>
      </td>
    </tr>
    <tr>
      <td>Text</td>
      <td>Display Order</td>
      <!-- <td>Export Code</td>  -->
      <td></td>
    </tr>
    <%= question.fields_for :multiple_choice_options, question.object.multiple_choice_options.sort_by{|a|a.display_order || 0}, wrapper: false do |answer| %>
    <tr class="fields">
      <%= render partial: 'answer_form', locals: {answer: answer} %>
    </tr>
    <% end %>
  </table>
</fieldset>
