<div class="page-header">
  <h2>Form Builder Library</h2>
</div>

<div class="link_box">
  <%# TODO: The policy check was changed below to be universally true %>
  <%= link_to "Add Survey", polymorphic_path(FormBuilder::Survey, action: :new), class: "btn btn-pill btn-success" %>
  <%= link_to 'Manage Standard Answer Sets', form_builder_standard_answer_sets_path, class: "btn btn-pill" %>
  <div class="search-form">
    <%= form_tag form_builder_surveys_path, :method => 'get' do %>
        <%= text_field_tag :search, params[:search], {:placeholder => "Search by form title"} %>
        <%= submit_tag "Search", :name => nil %>
    <% end %>
  </div>
</div>

<table id="form_builder_survey_data_table" class="dataTable">
  <thead>
    <tr>
      <%= sortable_header :title, "Form Title" %>
      <%= sortable_header :created_at %>
      <%= sortable_header :created_by %>
      <%= sortable_header :updated_at %>
      <%= sortable_header :updated_by %>
      <%= sortable_header :description %>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <% @surveys.each do |survey| %>
      <tr>
        <%# TODO: The policy check was changed below to be universally true %>
        <%= render(partial: 'form_builder/surveys/item', locals: {survey: survey, show_edit_delete: true}) %>
      </tr>
    <% end %>
  </tbody>
</table>

<%# TODO: pagination %>
<div id="form-builder-survey-pagination">
  <%# = page_entries_info @surveys, :entry_name => 'survey' %>
  <div>
    <%# = paginate @surveys %>
  </div>
</div>
