<div data-form_builder_upload>
  <%- if has_saved_file %>
    <%= f.hidden_field :document, value: f.object.document.signed_id, class: 'document_file_input' %>
    <%= link_to f.object.document.filename.to_s, rails_blob_path(document, disposition: "attachment"), {:'data-form_builder_upload_file_link' => ''} %>
  <% end %>

  <%= f.file_field :document, disabled: disabled, accept: allowed_file_extensions, class: 'document_file_input' %>
  <%- if !disabled && has_saved_file %>
      <a data-form_builder_upload_clear style="font-size: 80%" class="button tiny btn-pill warning" href="#">Clear</a>
    <%= f.hidden_field remove_document, {:'data-form_builder_remove_document' => ''} %>
  <% end %>
  <div class="helper-text">
    <%= "#{GrantSubmission::Response::READABLE_ALLOWED_DOCUMENT_TYPES} files only. Up to #{GrantSubmission::Response::READABLE_MAXIMUM_DOCUMENT_FILE_SIZE}" %>
  </div>
</div>
