= f.hidden_field :grant_submission_form_id
.grid-x
  .cell.small-12.medium-3
    = f.label :title, class: 'middle'
  .cell.small-12.medium-9
    = f.text_field(attribute: :title, options: { required: true })

- @submission.form.sections.sort_by(&:display_order).each do |section|
  .grid-x
    .cell.small-12
      %fieldset.fieldset
        %legend= section.title
        = render partial: 'section_fields', locals: { section: section, f: f }
.grid-x
  .cell.small-12
  .actions
    - if @submission.submitted?
      = f.button 'Save as Draft', type: 'submit', name: 'state', value: GrantSubmission::Submission::SUBMISSION_STATES[:draft], data: { disable_with: "Please wait..." }, class: 'secondary button'
      = f.button 'Submit', type: 'submit', name: 'state', value: GrantSubmission::Submission::SUBMISSION_STATES[:submitted], data: { disable_with: "Please wait..." }, class: 'success button'

      / = f.submit 'Save as Draft', class: 'secondary button', disabled: true
      / = f.submit 'Submit', class: 'success button', disabled: true
    - else
      = f.button 'Save as Draft', type: 'submit', name: 'state', value: GrantSubmission::Submission::SUBMISSION_STATES[:draft], data: { disable_with: "Please wait..." }, class: 'secondary button'
      = f.button 'Submit', type: 'submit', name: 'state', value: GrantSubmission::Submission::SUBMISSION_STATES[:submitted], data: { disable_with: "Please wait..." }, class: 'success button'

      / = f.submit 'Save as Draft', data: { disable_with: "Please wait..." }, class: 'secondary button'
      / = f.submit 'Submit', data: { disable_with: "Please wait..." }, class: 'success button'
    = link_to 'Cancel', @grant, class: 'button secondary clear'
:javascript
  $(function () {
    Grant.FormBuilderUploadSetup();
    Grant.FormBuilderStandardAnswer.init_in_submissions();
  });
