= f.hidden_field :grant_submission_form_id
.grid-x
  .cell.small-12.medium-3
    = f.label :title, class: 'middle'
  .cell.small-12.medium-9
    = f.text_field :title, required: true

- @submission.form.sections.sort_by(&:display_order).each do |section|
  .grid-x
    .cell.small-12
      %fieldset.fieldset
        %legend= section.title
        = render partial: 'section_fields', locals: { section: section, f: f }
.grid-x
  .cell.small-12
  .actions
    = f.submit 'Submit', data: { disable_with: "Please wait..." }, class: 'button'
:javascript
  $(function () {
    Grant.FormBuilderUploadSetup();
    Grant.FormBuilderStandardAnswer.init_in_submissions();
  });
