<table class="hover unstriped">
  <% responses = section.questions.sort_by(&:display_order).map do |q| %>
      <% f.object.responses.detect { |r| r.question == q } || f.object.responses.build(question: q) %>
  <% end %>
<%= f.fields_for :responses, responses do |ff| %>
  <% if ff.object.submission == f.object %>
    <tr class="question question-<%= ff.object.question.id %>">
      <% ffn = ff.object.form_field_name %>
      <% is_mandatory = ff.object.question.is_mandatory %>
      <td colspan="2">
        <% if ff.object.submission == f.object %>
          <%= ff.hidden_field :grant_submission_question_id %>
        <% end %>
        <%= ff.label(ffn, simple_format(ff.object.question.text), class: "required-#{is_mandatory}") %>

        <%= render partial: "grant_submissions/submissions/responses/#{ff.object.question.response_type}_response", locals: { f: f, ff: ff, ffn: ffn } %>

      </td>
    </tr>
  <% else %>
    <%= ff.object.formatted_response_value %>
  <% end %>
<% end %>
</table>
