<% if section.repeatable %>
    <% f.object.section ||= section %>
    <fieldset class="nested-fields">
      <legend>
        <%# if section.allow_follow_up %>
            <%# TODO: baseline/follow-up can prob be removed %>
            <%# = f.object.is_baseline? ? 'Baseline' : 'Follow-up' %>
        <%# end %>
      </legend>
<% end %>
<table class="unstriped">
  <% if section.repeatable %>
    <% f.object.grant_submission_section_id = section.id %>
    <%= f.hidden_field :grant_submission_section_id %>
  <% end %>
  <% responses = section.questions.sort_by(&:display_order).map do |q| %>
      <% f.object.responses.detect { |r| r.question == q } || f.object.responses.build(question: q) %>
  <% end %>
  <%= f.fields_for :responses, responses do |ff| %>
      <tr class="question question-<%= ff.object.question.id %>">
        <% ffn = ff.object.form_field_name %>
        <% is_mandatory = ff.object.question.is_mandatory %>
        <td style="min-width: 200px">
          <div>
            <% if ff.object.submission == f.object %>
                <%= ff.hidden_field :grant_submission_question_id %>
            <% end %>
            <%= ff.label(ffn, ff.object.question.text, class: "required-#{is_mandatory}") %>
          </div>
        </td>
        <td>
          <div>
            <% if ff.object.submission == f.object %>
                <% case ff.object.question.response_type.to_sym
                   when :pick_one %>
                    <%= ff.select ffn, options_for_select(ff.object.question.multiple_choice_options.sort_by(&:display_order).map { |option| [option.to_formatted_s, option.id, 'data-value' => option.text] }, ff.object.grant_submission_multiple_choice_option_id), { include_blank: true }, data: { question_id: ff.object.question.id } %>
                <% when :number %>
                    <%= ff.text_field ffn, data: { question_id: ff.object.question.id } %>
                <% when :short_text %>
                    <%= ff.text_area ffn, rows: 1, cols: 30, data: { question_id: ff.object.question.id } %>
                <% when :long_text %>
                    <%= ff.text_area ffn, rows: 5, cols: 31, required: ff.object.question.is_mandatory, data: { question_id: ff.object.question.id } %>
                <% when :date_opt_time %>
                    <%= ff.date_opt_time_field :datetime_val, :boolean_val, data: { question_id: ff.object.question.id } %>
                <% when :partial_date %>
                    <%= ff.date_select ffn,
                                       {:prompt => {:year => 'Year', :month => 'Month', :day => 'Day'},
                                        :use_two_digit_numbers => true,
                                        :date_separator =>'-',
                                        :start_year => Date.today.year + 5,
                                        :end_year => Date.today.year - 100},
                                       {:data => {:behavior => 'select2', question_id: ff.object.question.id}, style: 'min-width:120px'}
                    %>
                <% when :file_upload %>
                    <%= ff.file_upload_field(
                          has_saved_file: (ff.object.document && ff.object.document.attached?),
                          file_field: ffn,
                          remove_document: :remove_document,
                          document: ff.object.document
                        )
                    %>
                <% end %>
            <% else %>
                <%= ff.object.formatted_response_value %>
            <% end %>
            <% if ff.object.question.instruction.present? %>
              <p class="helper-text">Instruction: <%= ff.object.question.instruction %></p>
          <% end %>
          </div>
        </td>
      </tr>
  <% end %>
  <% if (!f.grant_disable_input? && section.repeatable) %>
      <tr>
        <td colspan="2">
          <%= link_to_remove_association("Remove #{section.title.singularize}", f, class: 'button btn-pill small warning') %>
        </td>
      </tr>
  <% end %>
</table>

<% if section.repeatable? %>
    </fieldset>
<% end %>

<style>
 .select2-container{
   max-width: 700px;
 }
</style>
