- title_text = "Edit #{current_user == @submission.submitter ? 'Your Submission' : 'Submission'}"
- content_for(:page_title, "#{title_text} - #{@grant.name}")

= render 'shared/grant_header', { grant: @grant, section_title: title_text }

.grid-x
  .small-12.cell
    %ul.breadcrumbs
      %li
        = link_to 'Home', root_path
      %li
        = link_to 'Grant Home', grant_path(@grant)
      - if current_user.get_role_by_grant(grant: @grant)
        %li
          = link_to 'Edit', edit_grant_path(@grant)
      %li
        = link_to title_text, grant_submission_path(@grant, @submission)
      %li
        Edit

.grid-x.grid-margin-x
  .cell.small-12.medium-3
    %aside
      = render partial: 'grants/dates_card', locals: { grant: @grant }
      = render partial: 'grants/contact_card', locals: { grant: @grant, contacts: @grant.contacts.map(&:user) } if @grant.contacts.any?
  #rfa.small-12.medium-9.cell
    = grant_form_for [@grant, @submission], url: grant_submission_url(@grant, @submission), local: true, data: { turbo: false }, html: {multipart: true} do |f|
      = render partial: 'form', locals: { f: f }
