- content_for(:page_title, "Submissions - #{@grant.name}")

%h1
  = @grant.name

= render 'shared/grant_state', { grant: @grant }

= render 'shared/grant_edit_tabbed_menu', { grant: @grant }

.tabs-panel.is-active
  %h3
    Submissions

  - if @submissions.none?
    - if current_user.get_role_by_grant(grant: @grant)
      %p
        There are no submissions to this grant.
    - else
      %p
        You have no submissions to this grant.
  - else

    = search_form_for @q, url: grant_submissions_path(@grant) do |f|
      .grid-x.grid-margin-x.medium-margin-collapse
        .small-12.medium-4.cell
          = f.label :applicant_last_name_or_title_cont, 'Search Applicant Last Name or Project Title', class: 'text-left middle'
        .small-12.medium-3.cell
          = f.search_field :applicant_last_name_or_title_cont
          =# f.search_field :search_cont
        .small-12.medium-3.cell
          = f.submit 'Search', class: 'button'
          = link_to 'Reset', grant_submissions_path(@grant), class: 'button clear secondary'

    = render 'shared/pagy_header', locals: { pagy: @pagy }

    %table
      %thead
        %tr
          %th
            = sort_link(@q, :applicant_last_name, 'Applicant')
          %th
            = sort_link(@q, :title, 'Title')
          %th
            = sort_link(@q, :state, 'State')
          %th
            = sort_link(@q, :updated_at, 'Last Updated')
          %th
      %tbody
        - @submissions.each do |submission|
          %tr
            %td
              = link_to sortable_full_name(submission.applicant), grant_submission_path(@grant, submission)
            %td
              = link_to submission.title, grant_submission_path(@grant, submission)
            %td
              = submission.state.titleize
            %td
              = submission.updated_at
            %td
              - if current_user.get_role_by_grant(grant: @grant)
                #ul.menu.simple
                  = render partial: "#{current_user.get_role_by_grant(grant: @grant)}_links", locals: { submission: submission, grant: @grant }

    != pagy_foundation_nav(@pagy)
