- title_text = 'Submissions'
- content_for(:page_title, "#{title_text} - #{@grant.name}")

= render 'shared/grant_header', { grant: @grant, section_title: title_text }

.small-12.cell
  %ul.breadcrumbs
    %li
      = link_to 'Home', root_path
    %li
      = link_to 'Grant Home', grant_path(@grant)
    %li
      = link_to 'Edit', edit_grant_path(@grant)
    %li
      Submissions

  = render 'shared/grant_edit_tabbed_menu', { grant: @grant }

.tabs-panel.is-active
  #submenu.top-bar
    - if @submissions.none?
      %p
        There are no submissions to this grant.
    - else
      .top-bar-left
        %ul.menu
          %li.menu-text
            Actions:
          - unless @grant.submissions.none?
            %li
              = link_to "Export All Submissions #{image_tag 'XLSX_24.png', class: 'icon' }".html_safe, export_grant_submissions_path(@grant, {format: 'xlsx'}), title: 'Download as Excel', id: 'excel-export', class: 'icon-24px'

      = search_form_for @q, url: grant_submissions_path(@grant), class: 'top-bar-right' do |f|
        .text-right
          %ul.menu
            %li.search
              = f.search_field :applicants_first_name_or_applicants_last_name_or_title_cont_all, placeholder: 'Applicant or Project'
            %li.search
              = f.submit 'Search', class: 'button'
          .reset
            = link_to 'Reset', grant_submissions_path(@grant), class: 'button clear secondary'
  - if !@grant.accepting_reviews?
    %p
      Note: This grant's review period closed on #{readable_date(@grant.review_close_date)}. No changes may be made to reviews.

  = render partial: 'shared/pagy_header', locals: { pagy: @pagy }

  #grant-submissions{ data: { controller: 'modals' } }
    .turbo-table
      .header.grid-x.grid-margin-x.grid-padding-x.align-bottom.row
        .cell.small-12.medium-1
          = sort_link(@q, :user_updated_at, 'Updated', { title: 'Sort on Updated'} )
        .cell.small-12.medium-2
          = sort_link(@q, :applicants_last_name, 'Applicants', { title: 'Sort on Applicants'})
        .cell.small-12.medium-3
          = sort_link(@q, :title, 'Title', { title: 'Sort on Title'} )
        .cell.small-12.medium-1
          = sort_link(@q, :state, 'State', { title: 'Sort on State'} )
        .cell.small-12.medium-1.reviews
          Reviews
        .cell.small-12.medium-2.scores
          .grid-x.row{ style: 'text-align: center' }
            .cell.small-12
              Reviewed Scores
          .grid-x.row
            .cell.small-4.overall-impact{ title: 'Average of scored reviews - scored first' }
              = sort_link(@q, :average_overall_impact_score_nulls_last, 'Overall Impact', { title: 'Sort on  Overal Impact Score'})
            .cell.small-3.divider
              |
            .cell.small-5.composite{ title: 'Average of scored Criteria - scored first' }
              = sort_link(@q, :composite_score_nulls_last, 'Composite', { title: 'Sort on Composite Score'} )
        .cell.small-12.medium-1
          = sort_link(@q, :awarded, 'Awarded', { default_order: :desc, title: 'Sort on Awarded' })

      .rows{ data: { controller: 'checkbox-submit' } }
        - @submissions.each do |submission|
          = render partial: 'grant_submissions/submissions/submission', locals: { submission: submission, grant: @grant, user_grant_role: @user_grant_role, review_data: review_data(submission) }

  != pagy_foundation_nav(@pagy)
