.grid-x.grid-margin-x
  .small-12.cell#title
    %h1.name{class: @grant.name_length_class}
      = @grant.name

.grid-x.grid-margin-x
  %aside.small-12.medium-3.cell
    = render partial: 'grants/dates_card', locals: { grant: @grant }

  .small-12.medium-9.cell#rfa
    %h4
      Application:
      = @submission.title
    %h5
      Submitted By:
      = "#{@submission.applicant.first_name} #{@submission.applicant.last_name}"

    - if @submission.reviewers.include?(current_user)
      - review = find_review_by_submission_and_reviewer(@submission, current_user)
      %p
        = link_to 'Review this Submission', edit_grant_submission_review_path(@grant, @submission, review), class: 'button'
        = link_to 'Opt Out of Review', opt_out_grant_submission_review_path(@grant, @submission, review), method: :delete, data: { confirm: 'You will no longer be able to view or review this submission.'}, class: 'button clear secondary'
    - if @grant.administrators.include?(current_user)
      %p
        = link_to 'See Reviews of this Submission', grant_submission_reviews_path(@submission.grant, @submission)

    - @submission.form.sections.sort_by(&:display_order).each do |section|
      = render partial: 'grant_submissions/sections/show', locals: { submission:  @submission, form: @submission.form, section: section }
