- title_text = "#{current_user == @submission.submitter ? 'Your Submission' : 'Submission'}"
- content_for(:page_title, "#{title_text} - #{@grant.name}")

%h1#grant-name
  = link_to @grant.name, grant_path(@grant)
%h2#section
  = title_text

.small-12.cell
  %ul.breadcrumbs
    %li
      = link_to 'Home', root_path
    %li
      = link_to 'Grant Home', grant_path(@grant)
    - if current_user.get_role_by_grant(grant: @grant)
      %li
        = link_to 'Edit', edit_grant_path(@grant)
    %li
      = link_to 'Apply', grant_apply_path(@grant)
    %li
      Submission


.grid-x.grid-margin-x
  %aside.small-12.medium-3.cell
    = render partial: 'grants/dates_card', locals: { grant: @grant }

  .small-12.medium-9.cell#rfa
    %h4
      = @submission.title
    %h5
      = applicant_label(@submission.applicants)
      = full_name_list(@submission.applicants)
    %p
      Submitter:
      = full_name(@submission.submitter)
    - if current_user == @submission.submitter && @submission.draft?
      = link_to 'Edit This Submission', edit_grant_submission_path(@grant, @submission), class: 'hollow button secondary'
    - if @submission.reviewers.include?(current_user)
      - review = find_review_by_submission_and_reviewer(@submission, current_user)
      %p
        = link_to 'Review this Submission', edit_grant_submission_review_path(@grant, @submission, review), class: 'button'
        = link_to 'Opt Out of Review', opt_out_grant_submission_review_path(@grant, @submission, review), method: :delete, data: { confirm: 'You will no longer be able to view or review this submission.'}, class: 'button clear secondary'
    - if @grant.administrators.include?(current_user)
      %p
        = link_to 'See Reviews of this Submission', grant_submission_reviews_path(@submission.grant, @submission)

    - @submission.form.sections.sort_by(&:display_order).each do |section|
      = render partial: 'grant_submissions/sections/show', locals: { submission:  @submission, form: @submission.form, section: section }
