#overall{ data: { controller: 'reviews' } }
  %h4
    Overall
  #overall_score_value.grid-x
    .cell.small-12.medium-3
      = f.label :overall_impact_score, class: 'required-true'
    .cell.small-12.medium-9
      %div.form-error{ data: {form: {error: {for: 'overall-1'}}} }
        * Overall Impact Score is required
      .button-group.scoring{ id: "overall-button-group", data: { 'reviews_target': 'score' } }
        %label.scoring-guidance
          Exceptional
        = collection_radio_buttons(:review, :overall_impact_score, score_range_array, :to_s, :to_s) do |b|
          .score_value
            = b.radio_button(id: "overall-#{b.value}", disabled: disabled) 
            = b.label(class: 'button', for: "overall-#{b.value}", disabled: disabled)
        %label.scoring-guidance
          Poor
        -unless disabled
          = button_tag 'Clear', class: 'secondary button hollow small clear-button', id: "#overall-clear-button", data: { action: 'click->reviews#clear_score' }
  #overall_comment.comment.grid-x
    .cell.small-12.medium-3
      = f.label :overall_impact_comment, disabled: disabled
    .cell.small-12.medium-8
      = f.text_area :overall_impact_comment, disabled: disabled, data: { 'reviews_target': 'comment', action: 'keyup->reviews#expand_comment_area' }
