#overall
  %h4
    Overall
  #overall_score_value.grid-x
    .cell.small-12.medium-3
      = f.label :overall_impact_score, class: 'required-true'
    .cell.small-12.medium-9
      %div.form-error{ data: {form: {error: {for: 'overall-1'}}} }
        * Overall Impact Score is required
      .button-group.scoring{id: "overall-button-group"}
        %label.scoring-guidance
          Exceptional
        - (Review::MINIMUM_ALLOWED_SCORE..Review::MAXIMUM_ALLOWED_SCORE).each do |value|
          .score_value
            = f.radio_button('overall_impact_score', value, { id: "overall-#{value}", required: true, disabled: disabled } )
            = f.label "#{value}", { class: 'button', for: "overall-#{value}", disabled: disabled }
        %label.scoring-guidance
          Poor
        -unless disabled
          = button_tag 'Clear', class: 'secondary button hollow small clear-button', id: "#overall-clear-button"
  #overall_comment.comment.grid-x
    .cell.small-12.medium-3
      = f.label :overall_impact_comment, disabled: disabled
    .cell.small-12.medium-9
      = f.text_area :overall_impact_comment, disabled: disabled
