
= render 'shared/grant_edit_tabbed_menu', { grant: @submission.grant }

.tabs-panel.is-active
  %h3
    = "Reviews of #{@submission.title}:"

  #reviews-overview.grid-container-x
    .grid-x
      .cell.small-12.medium-2
        %strong
          Submission:
      .cell.small-12.medium-10
        = link_to @submission.title, grant_submission_path(@submission.grant, @submission)
    .grid-x
      .cell.small-12.medium-2
        %strong
          Applicant:
      .cell.small-12.medium-10
        = full_name(@submission.applicant)
    .grid-x.grid-padding-y
      .cell.small-12
        - if @reviews.empty?
          %p
            There are no reviews for this submission.
            = link_to 'Assign it to a reviewer', grant_reviewers_path(@grant)
        -else

          = render 'shared/pagy_header', locals: { pagy: @pagy }

          %table.hover.stack
            %thead
              %tr
                %th
                  = sort_link(@q, :reviewer_last_name, 'Reviewer')
                %th
                  = sort_link(@q, :overall_impact, 'Review')
                %th
                  = sort_link(@q, :overall_impact)
                %th
                  Composite
                - @grant.criteria.each do |criterion|
                  %th= criterion.name
            %tbody
              = render @reviews

