.grid-container.grid-container-padded
  .grid-x.grid-padding-x.align-center
    .cell.align-center-middle
      %h3
        Create an Account

      .cell
        = render 'devise/shared/login_prepend_links'
        %p
          Please provide the following information to create a new account.
          %br
          If you already have an account,
          = link_to 'return to the log in page', login_index_path
          = '.'
        = form_for(resource, as: resource_name, url: registration_path(resource_name), data: { turbo: false} ) do |f|
          #fields
            .cell
              = f.label :first_name
              = f.text_field :first_name, autofocus: true , required: true
            .cell
              = f.label :last_name
              = f.text_field :last_name, required: true
            .cell
              = f.label :email
              = f.email_field :email, required: true
            .cell
              = f.label :password
              = f.password_field :password, required: true, placeholder: "#{(COMPETITIONS_CONFIG[:devise][:registerable][:password][:min_length])} characters minimum"
            .cell
              = f.label :password_confirmation
              = f.password_field :password_confirmation, required: true
            .cell
              = f.submit "Create My Account", class: 'button expanded'

        = render "devise/shared/login_append_links"
