- content_for(:page_title, "Reviews - #{@grant.name}")

%h1
  = @grant.name

= render 'shared/grant_state', { grant: @grant }

= render 'shared/grant_edit_tabbed_menu', { grant: @grant }

.tabs-panel.is-active
  %h2
    Reviews
  - unless @reviews.empty?
    %p
      = link_to "Save all Reviews #{image_tag 'XLSX_24.png', class: 'icon' }".html_safe, grant_reviews_url(@grant, {format: 'xlsx'})

  .grid-x
    .cell

      = search_form_for @q, url: grant_reviews_path(@grant) do |f|
        .grid-x.grid-margin-x.medium-margin-collapse
          .small-12.medium-2.cell
            %label.text-left.middle
              Search Applicant or Reviewer:
          .small-12.medium-2.cell
            = f.search_field :applicant_first_name_or_applicant_last_name_or_reviewer_first_name_or_reviewer_last_name_cont
          .small-12.medium-3.cell
            = f.submit 'Search', class: 'button'
            = link_to 'Reset', grant_reviews_path(@grant), class: 'button clear secondary'

      - if policy(@grant).grant_editor_access?
        %p
          %strong
            = link_to 'Add reviewers or assign reviews', grant_reviewers_path(@grant)

      - if @reviews.empty?
        %p
          There were no assigned reviews found.

      - else
        = render 'shared/pagy_header', locals: { pagy: @pagy }

        %table.hover
          %thead
            %tr
              %th
                = sort_link(@q, :applicant_last_name, 'Applicant',{}, {title: 'Sort on Applicant'})
              %th
                = sort_link(@q, :submission_title, 'Submission',{}, {title: 'Sort on Submission Title'})
              %th
                = sort_link(@q, :reviewer_last_name, 'Reviewer',{}, {title: 'Sort on Reviewer Last Name'})
              %th
                = sort_link(@q, :overall_impact_score, 'Review',{}, {title: 'Sort on Completed'})
              %th
                = sort_link(@q, :overall_impact_score,{}, {title: 'Sort on Overall Impact Score'})
              %th Composite Score

          %tbody
            - @reviews.each do |review|
              %tr
                %td
                  = sortable_full_name(review.submission.applicant)
                %td
                  = link_to truncate(review.submission.title), grant_submission_path(review.grant, review.submission)
                %td
                  = sortable_full_name(review.reviewer)
                %td
                  = link_to (review.is_complete? ? 'Full Review' : 'Incomplete'), grant_submission_review_path(review.grant, review.submission, review)
                %td
                  = (review.overall_impact_score || 0)
                %td
                  = review.composite_score

        != pagy_foundation_nav(@pagy)
