- content_for(:page_title, "Submissions - #{@grant.name}")

= render 'shared/grant_edit_tabbed_menu', { grant: @grant }

.tabs-panel.is-active
  %h3
    Submissions

  - unless @submissions.present?
    %p
      There are no submissions to this grant.
  - else
    %table.table.table-condensed
      %thead
        %tr
          %th Applicant
          %th Title
          %th Action
      %tbody
        - @submissions.sort_by(&:id).sort_by(&:date_order).each do |submission|
          %tr
            %td
              = link_to "#{submission.applicant.name}", grant_submission_path(@grant, submission)
            %td
              = link_to "#{submission.title}", grant_submission_path(@grant, submission)

            %td
              = render partial: 'crud_links', locals: { submission: submission }
            =# crud_links[submission.id]
