<script>
  $(function(){Grant.FormBuilderSurvey.init();});
  document.addEventListener("trix-initialize", function(event) {
    var elementButtons = event.target.toolbarElement.querySelectorAll("button")
    for (i=0; i<elementButtons.length; i++) {
      elementButtons[i].tabIndex = -1 ;
    }
  });
</script>

<% unless @form.new_record? %>
  <%= hidden_field_tag :form_update_fields_url, update_fields_grant_form_url(@grant, @form), id: 'survey_update_fields_url' %>
<% end %>

<% has_edit_permission = policy(@grant).update? %>
<%= grant_form_for([@grant, @form], url: grant_form_path) do |f| %>
  <table class="unstriped">
    <tr>
      <td>
        <%= f.label :submission_instructions, class: 'bold' %>
      </td>
    </tr>
    <tr>
      <td>
        <%= f.hidden_field :submission_instructions, id: 'submission_instructions' %>
        <trix-editor input="submission_instructions" aria-describedby="submissionInstructionsHelp"></trix-editor>
        <p id="submissionInstructionsHelp" class="help-text">
          This optional text will be included on the application form.
        </p>
      </td>
    </tr>
  </table>

  <hr/>

  <%= render 'title_placeholder_field' %>

  <%= f.fields_for :sections, @form.sections do |ff| %>
    <%= render partial: 'section_form', locals: { section: ff, has_edit_permission: has_edit_permission} %>
    <% end %>

    <% if has_edit_permission %>
      <%= f.link_to_add 'Add a Section', :sections, class: 'button btn-pill small' %>
      <div class="actions">
        <hr/>
        <%= f.submit 'Save', class: 'button' %>
      </div>
  <% end %>
<% end %>
