<fieldset class="fieldset form_builder_question_fieldset">
  <legend>
    <span>Question</span>
    <%= question.link_to_remove 'Delete', id: "delete-question-#{get_question_id(question.object)}", class: 'delete-question button tiny btn-pill hollow alert' if has_edit_permission %>
  </legend>

  <table class="question_table table unstriped" style="width: auto;">
    <thead>
      <tr>
        <th><%= question.label :text %></th>
        <th><%= question.label :is_mandatory %></th>
        <th><%= question.label :response_type %></th>
      </tr>
    </thead>
    <tr>
      <td><%= question.text_area(attribute: :text, options: { rows: 1, disabled: !(has_edit_permission) }) %></td>
      <td><%= question.select(method: :is_mandatory,
                              choices: options_for_select([['Yes', true], ['No', false]], question.object.is_mandatory || false),
                              options: { include_blank: 'Select One' },
                              html_options: { disabled: !(has_edit_permission) }) %></td>
      <td><%= question.select(method: :response_type,
                              choices: GrantSubmission::Question::VIEW_RESPONSE_TYPE_TRANSLATION.invert.to_a,
                              options: {include_blank: 'Select a Response Type'},
                              html_options: { class: 'form_builder_question_response_type', disabled: !(has_edit_permission) } )%></td>
    </tr>

    <thead>
      <tr>
        <th colspan="8"><%= question.label :instruction %> </th>
      </tr>
    </thead>
    <tr>
      <td colspan="8"><%= question.text_area(attribute: :instruction,
                                             options: { rows: 1, cols: 100, disabled: !(has_edit_permission) } ) %></td>
    </tr>
  </table>

  <table class="submission_multiple_choice_options_table table table-condensed unstriped" style="width: auto;">
    <thead>
      <tr>
        <th colspan=4>
          Multiple Choice Options
          <% if has_edit_permission %>
            <%= question.link_to_add 'Add an Option', :multiple_choice_options, data: { location: 'parent', target: '.submission_multiple_choice_options_table'}, class: 'add-option button btn-pill small hollow primary' %>
          <% end %>
        </th>
      </tr>
    </thead>
    <tr>
      <td>Select Text</td>
      <td></td>
    </tr>
    <%= question.fields_for :multiple_choice_options, question.object.multiple_choice_options.sort_by{ |option| option.display_order || 0}, wrapper: false do |option| %>
    <tr class="fields">
      <%= render partial: 'multiple_choice_option_form', locals: { multiple_choice_option: option, disabled: !(has_edit_permission) } %>
    </tr>
    <% end %>
  </table>
</fieldset>
