<fieldset class="fieldset form_builder_section_fieldset">
  <legend>
    <span>Section</span>
    <%= section.link_to_remove "Delete", { id: "delete-section-#{section.object.id}", class: 'delete-section button tiny btn-pill alert hollow', title: 'Delete this section and its questions'} if has_edit_permission %>
  </legend>

  <table class="section_table table unstriped">
    <tr>
      <td><%= section.label :title %></td>
      <td><%= section.text_field :title %></td>
    </tr>
  </table>

  <%= section.fields_for :questions, section.object.questions.sort_by{ |question| question.display_order || 0 } do |fff| %>
    <%= render partial: 'question_form', locals: { question: fff, has_edit_permission: has_edit_permission }%>
  <% end %>

  <% if has_edit_permission %>
    <%= section.link_to_add 'Add a Question to this Section', :questions, class: 'button btn-pill small hollow success' %>
  <% end %>
</fieldset>
