- content_for(:page_title, "Edit - #{@grant.name}")

= render 'shared/grant_header', { grant: @grant, section_title: 'Submission Form' }

.grid-x
  .small-12.cell
    %ul.breadcrumbs
      %li
        = link_to 'Home', root_path
      %li
        = link_to 'Grant Home', grant_path(@grant)
      %li
        = link_to 'Edit', edit_grant_path(@grant)
      %li
        Submission Form

= render 'shared/grant_edit_tabbed_menu', { grant: @grant }

.tabs-panel.is-active

  %p
    %em
      Applicants will respond to questions defined on this page to apply to your grant. Questions may be organized into multiple sections.

  - unless @grant.form.available?
    .callout.warning
      %h5
        - if @grant.submissions.any?
          This grant has received submissions. To edit this form, please
          = link_to 'delete all existing submissions', grant_submissions_path(@grant)
          \.
        - elsif @grant.published? && @grant.submissions.none?
          Form may not be edited when the grant is published. To edit this form, please |
          switch to Draft mode above.
        - else
          This form may not be edited.

  = render partial: 'form'
