#reviews
  %h4
    Reviewed Submissions

  - if submissions.none?
    %p
      There are no reviewed submissions for this grant.
  - else

    %p
      Below is a list of reviewed, completed submissions.

    #grant-submissions
      .turbo-table
        .grid-x.grid-padding-x.align-bottom.header
          .cell.small-12.medium-2
            = sort_link(query, :applicants_last_name, 'Applicants', { title: 'Sort on Applicants' })
          .cell.small-12.medium-4
            = sort_link(query, :title, 'Submission', { title: 'Sort on Submission Title'} )
          .cell.small-12.medium-1
            Reviews
          .cell.small-12.medium-2
            %abbr{ title: 'Sort on Average from Scored Reviews' }
              = sort_link(query, :average_overall_impact_score, 'Overall Impact Score')
          .cell.small-12.medium-2.auto
            %abbr{ title: 'Sort on Average of all Scored Criteria' }
              = sort_link(query, :composite_score, 'Composite Score')
          - if @user_grant_role.present?
            .cell.small-12.medium-1
              = sort_link(query, :awarded, 'Awarded', { default_order: :desc, title: 'Sort on Awarded' })

        .rows{ data: { controller: 'checkbox-submit' } }
          - @submissions.each do |submission|
            = render partial: 'submission', locals: { grant: @grant, submission: submission, role: @user_grant_role }
