
- if @submissions.none?
  There are no reviewed submissions.
- else
  %table.stackable
    %thead
      %tr
        %th{ colspan: 5 }
          Sortable Table of reviewed submissions.
      %tr
        %td{width: 200}
          Applicant
        %td
          Submission
        %td{width: 150}
          Reviews
        %td{width: 160}
          Overall Impact Avg.
        %td{width: 150}
          Composite Avg.
      %tbody
      - @submissions.each do |submission|
        - review_data = review_data(submission)
        %tr
          %td
            = sortable_full_name(submission.applicant)
          %td
            = link_to submission.title, grant_submission_path(@grant, submission)
          %td
            = link_to 'Review'.pluralize(submission.reviews.count), grant_submission_reviews_path(@grant, submission)
            = surround '(', ')' do
              #{review_data.completed_review_count}
          %td
            %span{ title: 'Average from Scored Reviews' }
              = review_data.overall_impact_average
          %td
            %span{ title: 'Average of all Scored Criteria' }
              = review_data.composite_score
