- content_for(:page_title, "Edit Panel - #{@grant.name}")

= render 'shared/grant_header', { grant: @grant, section_title: 'Edit Panel' }

.grid-x
  .small-12.cell
    %ul.breadcrumbs
      %li
        = link_to 'Home', root_path
      %li
        = link_to 'Grant Home', grant_path(@grant)
      %li
        = link_to 'Edit', edit_grant_path(@grant)
      %li
        = link_to 'Panel', grant_panel_path(@grant)
      %li
        Edit

= render 'shared/grant_edit_tabbed_menu', { grant: @grant }

.tabs-panel.is-active
  #submenu.top-bar
    .top-bar-left
      %ul.menu
        %li.menu-text
          = link_to 'View Panel', grant_panel_path(@grant)

  = form_with(model: [@grant, @panel], method: :patch, local: true, data: { turbo: false }) do |f|

    .grid-x
      .cell
        %p
          %em
            A panel is when reviewers convene to review all submissions and decide who will be awarded the grant. All fields are optional.
    .grid-x
      .cell.small-12.medium-3
        = f.label     :meeting_location
      .cell.small-12.medium-9
        = f.text_area :meeting_location, cols: 15, rows: 4
    .grid-x
      .cell.small-12.medium-3
        = f.label     :meeting_link, 'Link'
      .cell.small-12.medium-9
        = f.url_field :meeting_link, aria: { 'described-by': 'link-help' }
        %p.help-text#link-help
          e.g. secure (https) link to videoconference service
    .grid-x
      .cell.small-12.medium-3
        = f.label :instructions
      .cell.small-12.medium-9
        = f.hidden_field  :instructions, id: :panel_instructions
        %trix-editor(input='panel_instructions')
    .grid-x
      .cell.small-12.medium-3
        = f.label :show_review_comments, aria: { 'described-by': 'show-review-comments-help' }
      .cell.small-12.medium-9
        = f.check_box :show_review_comments
        %p.help-text#show-review-comments-help
          Check to display all reviewer comments to panel members

    %h4
      Panel Time

    %p
      During this timeframe Reviewers will have access to Reviews and Submissions. Start and end times are required.
      = succeed "." do
        = link_to 'Panel page', grant_panel_path(@grant)

    .grid-x
      .cell.small-12.medium-3
        = f.label :start_datetime
      .cell.small-12.medium-3
        = f.text_field :start_datetime, value: @panel.start_datetime&.strftime('%m/%d/%Y %l:%M%P')
    .grid-x
      .cell.small-12.medium-3
        = f.label :end_datetime
      .cell.small-12.medium-3
        = f.text_field :end_datetime, value: @panel.end_datetime&.strftime('%m/%d/%Y %l:%M%P')

    .grid-x
      .cell.small-12
        = f.submit 'Update Panel Information', class: 'button'

:javascript
  $(function() {
    $('#panel_start_datetime, #panel_end_datetime').fdatepicker({
      format: 'mm/dd/yyyy h:iia',
      formatText: 'mm/dd/yyyy h:iia',
      linkFormat: 'mm/dd/yyyy h:iia',
      disableDblClickSelection: true,
      minuteStep: 30,
      pickTime: true,
      nonMilitaryTime: true
    });
  });
