- content_for(:page_title, "Panel - #{@grant.name}")
- user_has_grant_viewer_access = policy(@panel).grant_viewer_access?

%h1#grant-name
  = link_to @grant.name, grant_path(@grant)
%h2#section
  Review Panel

.small-12.cell
  %ul.breadcrumbs
    %li
      = link_to 'Home', root_path
    %li
      = link_to 'Grant Home', grant_path(@grant)
    - if user_has_grant_viewer_access
      %li
        = link_to 'Edit', edit_grant_path(@grant)
    %li
      Panel

= render partial: 'panel_schedule_info', locals: { panel: @panel, user_has_grant_viewer_access: user_has_grant_viewer_access }

= render partial: 'panel_metadata', locals: { panel: @panel }

- if policy(@panel).view_content?
  = render partial: 'panel_content', locals: { grant: @grant, submissions: @submissions, query: @q }
