%h2
  Permissions
- unless @current_user_role == 'viewer'
  %div
    = link_to 'Add New User Permissions', new_grant_grant_user_path(@grant)
- unless @grant.grant_users.present?
  %p
    No roles have been assigned on this grant.
- else
  %table
    %thead
      %tr
        %th
          Name
        %th
          Role
        %th

    %tbody
      - @grant.grant_users.each do |grant_user|
        %tr
          %td
            = grant_user.user.name
          %td
            = grant_user.grant_role
          %td
            = render partial: "grant_users/#{@current_user_role}_links", locals: { grant_user: grant_user, grant: @grant }



