- content_for(:page_title, "Edit - #{@grant.name}")

= render 'shared/grant_edit_tabbed_menu', { grant: @grant }
.tabs-panel.is-active
  %h2
    Permissions

  %p
    - unless @current_user_role == 'viewer'
      = link_to 'Add new permission', new_grant_grant_user_path
      = ' | '
    = link_to 'View all Grants', grants_path


  - unless @grant_users.present?
    %p
      No roles have been assigned on this grant.
  - else
    %table
      %thead
        %tr
          %th
            Name
          %th
            Role
          %th

      %tbody
        - @grant_users.each do |grant_user|
          %tr
            %td
              = grant_user.user.name
            %td
              = grant_user.grant_role
            %td
              = render partial: "#{@current_user_role}_links", locals: { grant_user: grant_user, grant: @grant }
