- content_for(:page_title, "Add User Permissions for #{@grant.name}")

= render 'shared/grant_edit_tabbed_menu'

%h2
  = yield(:page_title)

.tabs-panel.is-active

.grid-x
  .cell
    = form_with model: [@grant, @grant_user], local: true do |f|
      = render 'new_form', f: f, grant: @grant, users: @users
