- content_for(:page_title, "Panel - Submission Reviews - #{@grant.name}")
- user_has_grant_viewer_access = policy(@panel).grant_viewer_access?

%h1#grant-name
  = link_to @grant.name, grant_path(@grant)
%h2#section
  = link_to 'Review Panel', grant_panel_path(@grant)

.cell
  %ul.breadcrumbs
    %li
      = link_to 'Grant Home', grant_path(@grant)
    - if user_has_grant_viewer_access
      %li
        = link_to 'Edit', edit_grant_path(@grant)
    %li
      = link_to 'Panel', grant_panel_path(@grant)
    %li
      = link_to 'Submission', grant_panel_submission_path(@grant, @submission)
    %li
      Reviews

%h3
  Submission Reviews

.grid-x.grid-margin-x
  .cell.small-12.medium-9
    %h4
      = @submission.title
    %h5
      Submitter:
      = full_name(@submission.submitter)

  .cell.small-12.medium-3
    
    = render partial: 'panels/submissions/card', locals: { submission: @submission, section: 'reviews', grant: @grant }

  .small-12.cell
    %h4
      Summary of Reviews

    %div.pagy-header
      != pagy_info(@pagy)
      - unless params[:q].nil? || params[:q].values.all?(&:blank?)
        \-
        = link_to 'Reset sort', request.path

    %table.hover.stack
      %thead
        %tr
          %th
            = sort_link(@q, :reviewer_last_name, 'Reviewer', { title: 'Sort on Reviewer'})
          %th
            = sort_link(@q, :overall_impact, { title: 'Sort on Overall Impact Score'} )
          %th
            Composite
          - @grant.criteria.each do |criterion|
            %th
              = criterion.name
      %tbody
        = render @reviews

    = render partial: 'shared/reviews_by_criteria', locals: { grant: @grant, reviews: @reviews, show_review_comments: @panel.show_review_comments? }

.grid-x.grid-margin-y
  .cell
    %h6
      = link_to 'Return to Submission', grant_panel_submission_path(@grant, @submission)
    %h6
      = link_to 'Return to Panel', grant_panel_path(@grant)

