.row.grid-x.grid-padding-y
  .cell
    = f.label :body, 'Body'
    = f.hidden_field :body, id: :banner_body
    %trix-editor(input='banner_body')
.row.grid-x.grid-padding-y
  .cell.small-12.medium-1
    = f.label :visible
  .cell.small-12.medium-1
    = f.check_box :visible
- unless banner.new_record?
  .row.grid-x.grid-padding-y
    .cell.small-12.medium-2.text-left
      = f.label :created_at, class: 'small'
    .cell.small-12.medium-3
      = banner.created_at&.to_fs
  .grid-x.grid-padding-y
    .cell.small-12.medium-2
      = f.label :updated_at, class: 'small'
    .cell.small-12.medium-3
      = banner.updated_at&.to_fs
.grid-x
  .actions
    - if banner.new_record?
      = f.submit 'Save', class: 'button'
      = link_to 'Cancel', banners_path, class: 'button secondary clear'
    - else
      = f.submit 'Update', class: 'button', data: { turbo: false }
      = link_to 'Cancel', banners_path, class: 'button secondary clear'
      = link_to 'Delete', banner, method: :delete, data: { confirm: 'Are you sure you want to delete this banner entirely? To take it down without deleting it, uncheck the Visible box.'}, class: 'button alert clear'
