%h3

.grid-x.grid-padding-y
  .cell.small-12.medium-6
    = f.label :visible, 'Visible'
    = f.check_box :visible, value: banner.visible
.grid-x.grid-padding-y
  .cell
    = f.label :body, 'Body'
    = f.hidden_field :body, id: :banner_body
    %trix-editor(input='banner_body')
.grid-x.grid-padding-y
  .cell.small-12.medium-6
    = f.label :created_at, 'Created At'
    = f.text_field :created_at, value: banner.created_at, disabled: true, class: 'small-12 medium-4'
  .cell.small-12.medium-6
    = f.label :updated_at, 'Updated At'
    = f.text_field :updated_at, value: banner.updated_at, disabled: true, class: 'small-12 medium-4'

.grid-x
  .actions
    - if banner.new_record?
      = f.submit 'Save', class: 'button'
      = link_to 'Cancel', banners_path, class: 'button secondary clear'
    - else
      = f.submit 'Update', class: 'button'
      = link_to 'Cancel', banner, class: 'button secondary clear'
    = link_to 'Delete', banner, method: :destroy, data: { confirm: 'Are you sure?'}, class: 'button alert clear'
