.row.grid-x.grid-padding-y
  .cell
    = f.label :body, 'Body'
    = f.hidden_field :body, id: :banner_body
    %trix-editor(input='banner_body')
.row.grid-x.grid-padding-y
  .cell.small-12.medium-1
    = f.label :visible
  .cell.small-12.medium-1
    = f.check_box :visible
.grid-x
  .actions
    = f.submit 'Submit', class: 'button'