#turbo-table
  %div.row.header
    %div.columns.small-12.medium-6.table-head
      = sort_link(q, :body)
    %div.columns.small-12.medium-2.table-head
      = sort_link(q, :visible)
    %div.columns.small-12.medium-2.table-head
      = sort_link(q, :created_at)
    %div.columns.small-2.medium-2.table-head

  = turbo_stream_from :banners
  = turbo_frame_tag :banners do
    - @banners.each do |banner|
      = render partial: 'banner', locals: { q: @q, banner: banner }
