- content_for(:page_title, 'Banners')

- if current_user.system_admin?
  %h3
    = yield(:page_title)

  = form_with model: @banner do |f|
    = render 'new_form', f: f

  - if @banners.none?
    %p
      No Banners were found.
  -else
    = render partial: 'shared/pagy_header', locals: { pagy: @pagy }

    = render partial: 'banners/sortable_table', locals: { q: @q, banners: @banners }

!= pagy_foundation_nav(@pagy)
