- content_for(:page_title, 'Banners')

- if current_user.system_admin?
  %h3
    = yield(:page_title)

  = link_to 'Create New Banner', new_banner_path, class: 'button primary', data: { turbo: false }

  - if @banners.none?
    %p
      No Banners were found.
  -else
    = render partial: 'shared/pagy_header', locals: { pagy: @pagy }

    = render partial: 'banners/sortable_table', locals: { q: @q, banners: @banners }

!= pagy_foundation_nav(@pagy)
