.grid-x
  .cell
    .grid-x
      .cell.small-12.medium-2
        = f.label :first_name
      .cell.small-12.medium-10
        = f.text_field :first_name, disabled: @user, class: 'small-12 medium-4'
    .grid-x
      .cell.small-12.medium-2
        = f.label :last_name
      .cell.small-12.medium-10
        = f.text_field :last_name, disabled: @user, class: 'small-12 medium-4'
    .grid-x
      .cell.small-12.medium-2
        = f.label :email
      .cell.small-12.medium-10
        = f.text_field :email, disabled: @user, class: 'small-12 medium-4'
    .grid-x
      .cell.small-12.medium-2
        = f.label :uid
      .cell.small-12.medium-10
        = f.text_field :uid, disabled: @user, class: 'small-12 medium-4'
    .grid-x
      .cell.small-12.medium-2
        = f.label :era_commons
      .cell.small-12.medium-10
        = f.text_field :era_commons, class: 'small-12 medium-4'
    .grid-x
      .cell.small-12.medium-2
        = f.label :user_type
      .cell.small-12.medium-10
        - if current_user.system_admin?
          = render partial: 'users/admin_checkboxes', locals: { f: f, user: @user } if current_user.system_admin?
        - elsif @user.grant_creator_requests.pending.any?
          .button.holow.disabled
            Pending Grant Creation Request
        - elsif @user.grant_creator?
          Grant Creator
        - else
          = link_to 'Request Grant Creation Permission', new_grant_creator_request_path if current_user == @user
.actions
  = f.submit 'Update', class: 'button'

