.grid-x
  .cell
    .grid-x
      .cell.small-12.medium-2
        = f.label :first_name
      .cell.small-12.medium-10
        = f.text_field :first_name, disabled: @user, class: 'small-12 medium-4'
    .grid-x
      .cell.small-12.medium-2
        = f.label :last_name
      .cell.small-12.medium-10
        = f.text_field :last_name, disabled: @user, class: 'small-12 medium-4'
    .grid-x
      .cell.small-12.medium-2
        = f.label :email
      .cell.small-12.medium-10
        = f.text_field :email, disabled: @user, class: 'small-12 medium-4'
    .grid-x
      .cell.small-12.medium-2
        = f.label :era_commons
      .cell.small-12.medium-10
        = f.text_field :era_commons, class: 'small-12 medium-4'

.actions
  = f.submit 'Update', class: 'button'
