%tr{id: "user-#{user.id}", class: 'user'}
  %td
    = link_to sortable_full_name(user), edit_user_path(user)
  %td
    = user.email
  %td.small
    = user.saml_user? ? 'SAML User' : 'Registered User'
  %td.small
    = date_mmddyyyy(user.created_at)
  %td.small
    = time_ago_in_words(user.current_sign_in_at) if user.current_sign_in_at.present?
  %td.small
    = link_to 'Edit', edit_user_path(user)
