- content_for(:page_title, "Edit #{full_name(@user)}")

%h2
  = yield :page_title

= form_with(model: @user, scope: :user, url: user_path, method: :put, local: true, data: { turbo: false }) do |f|
  = render partial: 'users/form', locals: { f: f }

= link_to 'Back to all Users', users_path
