<div class="grid-container grid-container-padded">
  <div class="grid-x grid-padding-x align-center">
    <div class="cell align-center-middle">

      <h3>Forgot your password?</h3>
      <%= render "devise/shared/login_prepend_links" %>
      <div class="cell">
        <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }, data: { turbo: false }) do |f| %>
          <div id="fields">
            <div class="field">
              <%= f.label :email %>
              <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
            </div>

            <div class="actions">
              <%= f.submit 'Reset Password', class: 'button expanded' %>
            </div>
          </div>
        <% end %>

        <%= render "devise/shared/login_append_links" %>
      </div>
    </div>
  </div>
</div>
