%p
  Dear #{full_name(@reviewer)},

%p
  You have been asked by #{full_name(@review.assigner)} to review the following submission:
  %br
  = link_to @submission.title, grant_submission_url(@grant, @submission)
  %br
  by #{full_name(@review.submitter)}

  %br
  for #{@grant.name}.

%p
  The deadline for your review is #{@grant.review_close_date.strftime("%B %e, %Y")}.

%p
  By clicking the link above you can review or opt out of reviewing.

%p
  Thank you.
