- name_length_class = grant_name_class(grant: grant)

.card{ id: dom_id(grant) }
  .card-section.grant-name
    %h4.name{ class: name_length_class }
      = link_to truncate(grant.name, length: 150), grant_path(grant)
  .card-section.grant-dates
    .dates
      .date
        %strong
          Announced:
        = time_tag(grant.publish_date.beginning_of_day, grant.publish_date.beginning_of_day.to_formatted_s(:date_only), class: 'publish-date')
      .date
        %strong
          Submission Period:
        .submission-period
          = submission_period(grant: grant)
  .card-divider.grant-links
    %ul.menu
      %li
        = link_to 'RFA', grant_path(grant), id: "show-#{dom_id(grant)}-link"
      - if current_user && policy(grant).edit?
        %li
          = link_to 'Edit', edit_grant_path(grant), id: "edit-#{dom_id(grant)}-link"
