.card{id: "grant_#{grant.id}"}
  .card-section.grant-name
    %h4.name{class: grant.name_length_class}
      = link_to grant.name, grant_path(grant)
  .card-section.grant-dates
    .dates
      .date
        %strong
          Announced:
        = time_tag(datetime: grant.publish_date, css_class: 'publish-date')
      .date
        %strong
          Submission Period:
        .submission-period
          = submission_period(grant: grant)
  .card-divider.grant-links
    %ul.menu
      = grant.show_menu_link
      =# grant.apply_menu_link
      = grant.edit_menu_link
