- content_for(:page_title, 'My Grants')

%h3
  = yield(:page_title)

- if current_user.system_admin? || current_user.grant_creator?
  = link_to 'Create New Grant', new_grant_path, class: 'button primary'

- if @grants.none?
  %p
    You currently have no grants.
-else

  = render partial: 'shared/pagy_header', locals: { pagy: @pagy }

  = render partial: 'grants/sortable_table', locals: { q: @q, grants: @grants }

  != pagy_foundation_nav(@pagy)

