- content_for(:page_title, 'Request Grant Creation Access')

%h1
  Edit Your Grant Creation Access Request

= form_with model: @grant_creator_request, url: grant_creator_request_path(@grant_creator_request), local: true, id: 'grant-request' do |f|
  = render partial: 'request_attributes', locals: { f: f, request: @grant_creator_request }
  - if current_user == @grant_creator_request.requester
    .grid-x
      .cell.small-12
        = f.submit 'Re-submit This Grant Creation Access Request', class: 'button'
        = link_to 'Cancel', profile_path, class: 'button clear secondary'
  - elsif current_user.system_admin?
    .grid-x
      .cell.small-12
        = link_to 'Review This Grant Creation Access Request', grant_creator_request_review_path(@grant_creator_request), class: 'button'
