.nested-fields
  .field
    .grid-x
      .cell.small-12.medium-2
        = f.label :name
      .cell.small-12.medium-9.medium-offset-1
        = f.text_field :name, width: 50, required: true, disabled: !@editable
  .field
    .grid-x
      .cell.small-12.medium-2
        = f.label :description
      .cell.small-12.medium-9.medium-offset-1
        = f.text_area :description, width: 50, disabled: !@editable
  .field
    .grid-x
      .cell.small-12.medium-offset-3
        = f.check_box :is_mandatory, disabled: !@editable
        = f.label :is_mandatory
        %br
        = f.check_box :show_comment_field, disabled: !@editable
        = f.label :show_comment_field

  .field
    .grid-x
      = link_to_remove_association 'Remove', f, class: 'button tiny hollow alert remove' unless !@editable

  %hr
