- content_for(:page_title, "Edit Review Criteria")

= form_for @grant, url: update_criteria_grant_path(@grant) do |f|
  %h3 Review Criteria
  %p The following...lorem ipsum dolor sum.
  #criteria.grid-x
    .cell
      = f.fields_for :criteria, @criteria do |criterion|
        = render 'criterion_fields', f: criterion
      .links
        = link_to_add_association 'Add Criteria', f, :criteria
    = f.submit 'Submit', class: 'button'
