- content_for(:page_title, 'My Submissions')

%h3
  = yield(:page_title)

= search_form_for @q, url: profile_submissions_path do |f|
  .grid-x.grid-margin-x.medium-margin-collapse
    .small-12.medium-2.cell
      .text-left.middle
        = f.label :title_or_grant_name_cont, 'Search Grant or Project', class: 'text-left middle'
    .small-12.medium-2.cell
      = f.search_field :title_or_grant_name_cont
    .small-12.medium-3.cell
      = f.submit 'Search', class: 'button'
      = link_to 'Reset', profile_submissions_path, class: 'button clear secondary'

- if @submissions.empty?
  %p
    No submissions were found.
- else

  = render partial: 'shared/pagy_header', locals: { pagy: @pagy }

  %table
    %thead
      %tr
        %th
          = sort_link(@q, :title, 'Project Title', { title: 'Sort on Project Title'})
        %th
          = sort_link(@q, :grant_name, 'Grant', { title: 'Sort on Grant Name'})
        %th
          = sort_link(@q, :state, 'State', { title: 'Sort on State'})
        %th
          = sort_link(@q, :updated_at, 'Last Updated', { title: 'Sort on Updated'})
        %th
    %tbody
      - @submissions.each do |submission|
        %tr
          %td
            = link_to submission.title, grant_submission_path(submission.grant, submission)
          %td
            = link_to submission.grant.name, grant_path(submission.grant)
          %td
            = submission.state.titleize
          %td
            = time_tag(submission.updated_at, display_datetime(submission.updated_at))
          %td
            - unless submission.submitted?
              = link_to 'Edit', edit_grant_submission_path(submission.grant, submission), class: 'button clear'

  != pagy_foundation_nav(@pagy)
