- content_for(:page_title, 'My Submissions')

%h3
  = yield(:page_title)

- if @submissions.empty?
  %p
    You have no submissions.
- else

  = render partial: 'shared/pagy_header', locals: { pagy: @pagy }

  %table
    %thead
      %tr
        %th
          = sort_link(@q, :title, 'Project Title')
        %th
          = sort_link(@q, :grant_name, 'Grant')
        %th
          = sort_link(@q, :created_at, 'Submitted On')
        %th
    %tbody
      - @submissions.each do |submission|
        %tr
          %td
            = link_to submission.title, grant_submission_path(submission.grant, submission)
          %td
            = link_to submission.grant.name, grant_path(submission.grant)
          %td
            = submission.created_at

  != pagy_foundation_nav(@pagy)
