%h3
  My Submissions

- if @submissions.empty?
  %p
    You have no submissions.
- else

  = render partial: 'shared/pagy_header', locals: { pagy: @pagy }

  %table
    %thead
      %tr
        %th Title
        %th Grant
        %th Submitted On
        %th
    %tbody
      - @submissions.each do |submission|
        %tr
          %td
            = link_to submission.title, grant_submission_path(submission.grant, submission)
          %td
            = link_to submission.grant.name, grant_path(submission.grant)
          %td
            = submission.created_at

  != pagy_foundation_nav(@pagy)
