%h3
  Release Notes
%p
  The code and further documentation about #{COMPETITIONS_CONFIG[:application_name]} can be found in the
  #{link_to "GitHub repository", "https://github.com/NUARIG/competitions"}.

%ul.accordion{"data-accordion" => "", "data-allow-all-closed" => "true", "data-multi-expand" => "false"}
  %li.accordion-item{"data-accordion-item" => ""}
    %a.accordion-title{:href => "#"} 1.17.1 (September 1, 2022)
    .accordion-content{"data-tab-content" => ""}
      %p
        %ul
          %li
            Fix javascript load on reviewers page.
            #{github_issue_link(issue: 975)}

%ul.accordion{"data-accordion" => "", "data-allow-all-closed" => "true", "data-multi-expand" => "false"}
  %li.accordion-item{"data-accordion-item" => ""}
    %a.accordion-title{:href => "#"} 1.17 (August 8, 2022)
    .accordion-content{"data-tab-content" => ""}
      %p
        %ul
          %li
            Add ability manage reviewer invitations.
            #{github_issue_link(issue: 911)}
          %li
            Specify language in html tags.
            #{github_issue_link(issue: 196)}
          %li
            Change text for reviewer email.
            #{github_issue_link(issue: 941)}
          %li
            Clean up banner and grant reviewer views.
            #{github_issue_link(issue: 935)}
          %li
            Add notifications column to the index of grant permissions.
            #{github_issue_link(issue: 792)}
          %li
            Add checkbox for submission notifications to new grant permissions.
            #{github_issue_link(issue: 793)}
          %li
            Cache visible system banners and include on all pages.
            #{github_issue_link(issue: 235)}
          %li
            Fix signout issue.
            #{github_issue_link(issue: 964)}
          %li
            Fix deployment issues.
            #{github_issue_link(issue: 946)}
          %li
            Remove logged in saml user access to registered user pages.
            #{github_issue_link(issue: 602)}
          %li
            Fix failing specs.
            #{github_issue_link(issue: 936)},
            #{github_issue_link(issue: 947)},
            #{github_issue_link(issue: 957)}
          %li
            Add jsbundling for handling javascript.
            #{github_issue_link(issue: 931)}
          %li
            Add turbo-rails gem.
            #{github_issue_link(issue: 954)}
          %li
            Upgrade devise gem.
            #{github_issue_link(issue: 964)}
          %li
            Upgrade devise_saml_authenticatable gem.
            #{github_issue_link(issue: 964)}
          %li
            Bump nokogiri 1.13.6.
            #{github_issue_link(issue: 939)}
          %li
            Bump rack 2.2.3.1.
            #{github_issue_link(issue: 948)}
          %li
            bump rails-html-sanitizer to 1.4.3 #952
            #{github_issue_link(issue: 922)}

%ul.accordion{"data-accordion" => "", "data-allow-all-closed" => "true", "data-multi-expand" => "false"}
  %li.accordion-item{"data-accordion-item" => ""}
    %a.accordion-title{:href => "#"} 1.16.1 (April 11, 2022)
    .accordion-content{"data-tab-content" => ""}
      %p
        %ul
          %li
            Change wording for registered user confirmations.
            #{github_issue_link(issue: 922)}
          %li
            Fix deprecation warnings for rails 7.
            #{github_issue_link(issue: 928)}
          %li
            Update Puma version.
            #{github_issue_link(issue: 923)}
          %li
            Update Nokogiri version.
            #{github_issue_link(issue: 927)}

%ul.accordion{"data-accordion" => "", "data-allow-all-closed" => "true", "data-multi-expand" => "false"}
  %li.accordion-item{"data-accordion-item" => ""}
    %a.accordion-title{:href => "#"} 1.16 (February 22, 2022)
    .accordion-content{"data-tab-content" => ""}
      %p
        %ul
          %li
            Display applicant name instead of submitter on review assignment page.
            #{github_issue_link(issue: 877)}
          %li
            Account for long grant titles in CSS.
            #{github_issue_link(issue: 880)}
          %li
            Update the publish date for consistent formatting.
            #{github_issue_link(issue: 900)}
          %li
            Account for logged in users in devise controllers.
            #{github_issue_link(issue: 896)}
          %li
            Rearrange registered user login page.
            #{github_issue_link(issue: 897)}
          %li
            Update the publish date for consistent formatting.
            #{github_issue_link(issue: 900)}
          %li
            Update rails version to 6.1.5 and corresponding gems.
            #{github_issue_link(issue: 903)}
          %li
            Remove devise rememberable.
            #{github_issue_link(issue: 905)}
          %li
            Exclude discarded submissions from index page.
            #{github_issue_link(issue: 914)}
          %li
            Check upload filetypes.
            #{github_issue_link(issue: 915)}
          %li
            Update Puma version.
            #{github_issue_link(issue: 899)}
          %li
            Update Nokogiri version.
            #{github_issue_link(issue: 912)}

%ul.accordion{"data-accordion" => "", "data-allow-all-closed" => "true", "data-multi-expand" => "false"}
  %li.accordion-item{"data-accordion-item" => ""}
    %a.accordion-title{:href => "#"} 1.15.2 (February 4, 2022)
    .accordion-content{"data-tab-content" => ""}
      %p
        %ul
          %li
            Add nil checks for error messaging.
            #{github_issue_link(issue: 891)}

%ul.accordion{"data-accordion" => "", "data-allow-all-closed" => "true", "data-multi-expand" => "false"}
  %li.accordion-item{"data-accordion-item" => ""}
    %a.accordion-title{:href => "#"} 1.15.1 (February 4, 2022)
    .accordion-content{"data-tab-content" => ""}
      %p
        %ul
          %li
            Add a check for existence of registered user.
            #{github_issue_link(issue: 891)}

%ul.accordion{"data-accordion" => "", "data-allow-all-closed" => "true", "data-multi-expand" => "false"}
  %li.accordion-item{"data-accordion-item" => ""}
    %a.accordion-title{:href => "#"} 1.15 (January 26, 2022)
    .accordion-content{"data-tab-content" => ""}
      %p
        %ul
          %li
            Account for long grant titles in CSS.
            #{github_issue_link(issue: 880)}
          %li
            Clarify the login page with better error messages and links.
            #{github_issue_link(issue: 885)}

%ul.accordion{"data-accordion" => "", "data-allow-all-closed" => "true", "data-multi-expand" => "false"}
  %li.accordion-item{"data-accordion-item" => ""}
    %a.accordion-title{:href => "#"} 1.14 (October 21, 2021)
    .accordion-content{"data-tab-content" => ""}
      %p
        %ul
          %li
            Upgrade Rails to version 6.1.4.1.
            #{github_issue_link(issue: 871)}
          %li
            Add review deadline date to the reviewer invitation and reminder emails. Copy the assigner on initial reviewer invitation.
            #{github_issue_link(issue: 868)} &
            #{github_issue_link(issue: 869)}
          %li
            Add bulk reminder email to reviewer invitation page.
            #{github_issue_link(issue: 846)}

  %li.accordion-item{"data-accordion-item" => ""}
    %a.accordion-title{:href => "#"} 1.13 (August 4, 2021)
    .accordion-content{"data-tab-content" => ""}
      %p
        %ul
          %li
            Change applicants to submitters.
            #{github_issue_link(issue: 785)}
          %li
            Create the new applicant role.
            #{github_issue_link(issue: 786)}
          %li
            Add applicants to grant submissions.
            #{github_issue_link(issue: 249)}
          %li
            Add applicants to profile submissions.
            #{github_issue_link(issue: 249)}
          %li
            Add applicants to reviews.
            #{github_issue_link(issue: 249)}
          %li
            Add applicants to panels.
            #{github_issue_link(issue: 249)}
          %li
            Add ability to add aditional applicants on submission edit.
            #{github_issue_link(issue: 249)}
          %li
            Add notification emails when adding or removing applicants.
            #{github_issue_link(issue: 848)}

  %li.accordion-item{"data-accordion-item" => ""}
    %a.accordion-title{:href => "#"} 1.12 (August 1, 2021)
    .accordion-content{"data-tab-content" => ""}
      %p
        %ul
          %li
            Upgrade rails to 6.1.4.
            #{github_issue_link(issue: 845)}
          %li
            Upgrade ruby to 3.0.2.
            #{github_issue_link(issue: 845)}
          %li
            Update capistrano lock.
            #{github_issue_link(issue: 845)}
          %li
            Use html time element.
            #{github_issue_link(issue: 841)}
          %li
            Move Review Guidance from grant overview to review criteria tab.
            #{github_issue_link(issue: 817)}

  %li.accordion-item{"data-accordion-item" => ""}
    %a.accordion-title{:href => "#"} 1.11 (June 23, 2021)
    .accordion-content{"data-tab-content" => ""}
      %p
        %ul
          %li
            Add anchor link to change reviewer counts.
            #{github_issue_link(issue: 815)}
          %li
            Move Review Guidance from Overview to Review Criteria tab.
            #{github_issue_link(issue: 817)}
          %li
            Add help text to Review Guidance.
            #{github_issue_link(issue: 816)}
          %li
            Change config examples to reflect the test env saml idp suggested in the new wiki.
            #{github_issue_link(issue: 816)}
            %br
            = link_to "https://github.com/NUARIG/competitions/wiki/Installation-and-configuration-of-test-saml-idp"

  %li.accordion-item{"data-accordion-item" => ""}
    %a.accordion-title{:href => "#"} 1.10 (April 22, 2021)
    .accordion-content{"data-tab-content" => ""}
      %p
        %ul
          %li
            Add Reviewer invitation status page per grant.
            #{github_issue_link(issue: 770)}
          %li
            Refactor Grant Permission notification methods.
            #{github_issue_link(issue: 801)}
          %li
            Add change password page.
            #{github_issue_link(issue: 575)}

  %li.accordion-item{"data-accordion-item" => ""}
    %a.accordion-title{:href => "#"} 1.9.1 (March 17, 2021)
    .accordion-content{"data-tab-content" => ""}
      %p
        %ul
          %li
            Update pagination settings to include all submissions on xlsx exports.
            #{github_issue_link(issue: 795)}

  %li.accordion-item{"data-accordion-item" => ""}
    %a.accordion-title{:href => "#"} 1.9 (February 22, 2021)
    .accordion-content{"data-tab-content" => ""}
      %p
        %ul
          %li
            Grant show page redirects to same page on login.
            #{github_issue_link(issue: 727)}
          %li
            Create Release notes page (this one).
            #{github_issue_link(issue: 761)}
          %li
            Add opt-in submission notifications for grant admins.
            #{github_issue_link(issue: 756)}
          %li
            Add exception notification for system admins.
            #{github_issue_link(issue: 755)}

  %li.accordion-item{"data-accordion-item" => ""}
    %a.accordion-title{:href => "#"} 1.8 (February 17, 2021)
    .accordion-content{"data-tab-content" => ""}
      %p
        %ul
          %li
            Add MIT license.
            #{github_issue_link(issue: 750)}
          %li
            Add grant creator request notifications for system admins.
            #{github_issue_link(issue: 728)}
          %li
            Add ability to unselect review criteria score.
            #{github_issue_link(issue: 726)}
          %li
            Add startDate to datepicker.
            #{github_issue_link(issue: 722)}
            #{github_issue_link(issue: 771)}
          %li
            Add toggle for comments in the panel view.
            #{github_issue_link(issue: 752)}
          %li
            Fix submission export bug.
            #{github_issue_link(issue: 762)}
          %li
            Update nokogiri gem.
            #{github_issue_link(issue: 748)}

  %li.accordion-item{"data-accordion-item" => ""}
    %a.accordion-title{:href => "#"} 1.7 (January 29, 2021)
    .accordion-content{"data-tab-content" => ""}
      %p
        %ul
          %li
            Adds submission exports to excel.

  %li.accordion-item{"data-accordion-item" => ""}
    %a.accordion-title{:href => "#"} 1.6 (January 13, 2021)
    .accordion-content{"data-tab-content" => ""}
      %p
        %ul
          %li
            Add reviewer invitation workflow.
          %li
            Add Autocomplete to users in grant permissions.
          %li
            Fix grant permission form layout.

  %li.accordion-item{"data-accordion-item" => ""}
    %a.accordion-title{:href => "#"} 1.5 (December 17, 2020)
    .accordion-content{"data-tab-content" => ""}
      %p
        %ul
          %li
            Add Select2 autocomplete to grant permissions.
          %li
            Add dropdown admin links.
          %li
            Change submission flash messages.
          %li
            Update reviewer assignment email.
          %li
            Clarify delete confirm dialogues.
          %li
            Fix javascript confirmation dialogues on delete.

  %li.accordion-item{"data-accordion-item" => ""}
    %a.accordion-title{:href => "#"} 1.4 (December 3, 2020)
    .accordion-content{"data-tab-content" => ""}
      %p
        %ul
          %li
            Fix storage symlink.
          %li
            Update devise_saml_authenticatable gem.
          %li
            Fix failing specs.
          %li
            Fix update method in saml_sessions controller.

  %li.accordion-item{"data-accordion-item" => ""}
    %a.accordion-title{:href => "#"} 1.3 (November 16, 2020)
    .accordion-content{"data-tab-content" => ""}
      %p
        %ul
          %li
            Fix excel export of reviews.
          %li
            Fix admin delete of submissions.
          %li
            Redesign grant published button.
          %li
            Fix issues with flexbox.
          %li
            Use configurable application name where appropriate.
          %li
            Standardize links and headers.
          %li
            Add panels.
          %li
            Refactor pagy_header.
          %li
            Pin footer to window bottom.

  %li.accordion-item{"data-accordion-item" => ""}
    %a.accordion-title{:href => "#"} 1.2 (October 22, 2020)
    .accordion-content{"data-tab-content" => ""}
      %p
        %ul
          %li
            Update to rails 6.
          %li
            Changes for registered users.
          %li
            Increase configurable elements.

  %li.accordion-item{"data-accordion-item" => ""}
    %a.accordion-title{:href => "#"} 1.1 (October 6, 2020)
    .accordion-content{"data-tab-content" => ""}
      %p
        %ul
          %li
            Make foundation settings configurable.
          %li
            Customize devise views.
          %li
            Add symlink storage file.
          %li
            Update devise_saml_authenticatable gem.
          %li
            Fix submission delete errors.
          %li
            Split users into registerable and saml users.
          %li
            Refactor full root url helper method.
          %li
            Change readme file.
          %li
            Make changes for open sourcing.
          %li
            Include question instructions on application view.
          %li
            Enforce review date.
          %li
            Add reviewer reminder emails.
          %li
            Add hover text to table headings.

  %li.accordion-item{"data-accordion-item" => ""}
    %a.accordion-title{:href => "#"} 1.0 (September 15, 2020)
    .accordion-content{"data-tab-content" => ""}
      %p
        %ul
          %li
            Initial release of Competitions.
