%p
  Dear #{full_name(@applicant)},

%p
  #{full_name(@current_user)} has removed you as an applicant on the submission
  = surround ', "', ',"' do
    = @submission.title
  an application to the grant
  = succeed '.' do
    = link_to @grant.name, grant_url(@grant)

