<tr class="question question-<%= ff.object.question.id %>">
  <% ffn = ff.object.form_field_name %>
  <% is_mandatory = ff.object.question.is_mandatory %>
  <td style="min-width: 200px">
    <span>
      <% if ff.object.submission == f.object %>
          <%= ff.hidden_field :grant_submission_question_id %>
      <% end %>
      <%= ff.label(ffn, simple_format(ff.object.question.text), class: "required-#{is_mandatory}") %>
    </span>
  </td>
  <td style="min-width: 300px;">
    <div>
      <% if ff.object.submission == f.object %>
          <% case ff.object.question.response_type.to_sym
             when :pick_one %>
              <%= ff.select(method: ffn,
                            choices: options_for_select(ff.object.question.multiple_choice_options.sort_by(&:display_order).map { |option| [option.text, option.id, 'data-value' => option.text] }, ff.object.grant_submission_multiple_choice_option_id),
                            options: { include_blank: true, required: ff.object.question.is_mandatory },
                            html_options: { data: { question_id: ff.object.question.id } }) %>
          <% when :number %>
              <%= ff.text_field(attribute: ffn,
                                options: { required: ff.object.question.is_mandatory, data: { question_id: ff.object.question.id }}) %>
          <% when :short_text %>
              <%= ff.text_area(attribute: ffn,
                               options: { rows: 1, cols: 30, required: ff.object.question.is_mandatory, data: { question_id: ff.object.question.id } }) %>
          <% when :date_opt_time %>
              <%= ff.date_opt_time_field :datetime_val, :boolean_val, options: { required: ff.object.question.is_mandatory, data: { question_id: ff.object.question.id } } %>
          <% when :file_upload %>
              <%= ff.file_upload_field(has_saved_file: (ff.object.document && ff.object.document.attached?),
                                       file_field: ffn,
                                       remove_document: :remove_document,
                                       document: ff.object.document,
                                       required: ff.object.question.is_mandatory) %>
          <% end %>
      <% else %>
          <%= ff.object.formatted_response_value %>
      <% end %>
      <% if ff.object.question.instruction.present? %>
        <p class="helper-text">Instruction: <%= simple_format(ff.object.question.instruction, {}, wrapper_tag: 'span') %></p>
    <% end %>
    </div>
  </td>
</tr>
