%h2
  Permissions

- unless policy(@grant).grant_editor_access?
  = link_to 'Add new permission', new_grant_grant_permission_path(@grant)

- unless @grant.grant_permissions.present?
  %p
    No roles have been assigned on this grant.

- else
  %table
    %thead
      %tr
        %th
          Name
        %th
          Role
        %th

    %tbody
      - @grant.grant_permissions.each do |grant_permission|
        %tr
          %td
            = grant_permission.user.name
          %td
            = grant_permission.role
          %td
            = render partial: "grant_permissions/#{current_user.get_role_by_grant(grant: @grant)}_links", locals: { grant_permission: grant_permission, grant: @grant }
