- user            = grant_permission.user
- permission      = grant_permission.role&.capitalize
- user_full_name  = full_name(user)

= turbo_frame_tag(dom_id(grant_permission)) do
  .grid-x.grid-padding-x.grid-padding-y
    .cell.small-12.medium-3
      .name
        = user_full_name
      .email.small
        = user.email
    .cell.small-12.medium-1
      = t("boolean.yes_no.#{grant_permission.contact}")
    .cell.small-12.medium-2
      = t("boolean.on_off.#{grant_permission.submission_notification}")
    .cell.small-12.medium-3
      .span.right{ title: "#{GrantPermissionsHelper::ROLE_DESCRIPTIONS[permission&.to_sym]}"  }
        = permission
    .cell.small-12.medium-3
      = link_to 'Edit', edit_grant_grant_permission_path(grant, grant_permission ), class: 'button'
      - if role_can_be_deleted?(user_permission: grant_permission, grant_admins: grant.admins)
        = link_to 'Delete', grant_grant_permission_path(grant, grant_permission), data: { turbo_method: :delete, turbo_confirm: "Delete #{user_full_name}'s permission for this grant?" }, class: 'button alert clear'
