%h2
  Permissions

- if policy(@grant).edit?
  = link_to 'Add new permission', new_grant_grant_permission_path
  = ' | '
= link_to 'View all Grants', grants_path

- unless @current_user_role == 'viewer'
  %div
    = link_to 'Add New User Permissions', new_grant_grant_permission_path(@grant)
- unless @grant.grant_permissions.present?
  %p
    No roles have been assigned on this grant.
- else
  %table
    %thead
      %tr
        %th
          Name
        %th
          Role
        %th

    %tbody
      - @grant.grant_permissions.each do |grant_permission|
        %tr
          %td
            = grant_permission.user.name
          %td
            = grant_permission.role
          %td
            = render partial: "grant_permissions/#{@current_user_role}_links", locals: { grant_permission: grant_permission, grant: @grant }
