.grid-x.grid-padding-x
  .cell.small-12.medium-6
    = f.label :user_id, 'Email Address'
    = f.select(:user_id, users.map{ |u| [u.email, u.id] }, { include_blank: true })
  .cell.small-12.medium-4
    = f.label :role, 'Grant Role'
    = f.select :role, grant_permission_role_select_options, include_blank: 'Please select'
.grid-x
  .actions
    = f.hidden_field :grant_id, value: grant.id
    = f.submit 'Save', class: 'button'
    = link_to 'Cancel', grant_grant_permissions_path, class: 'button secondary'
