- if @grant_permission.errors.any?
  = @grant_permission.errors.full_messages.to_sentence
.grid-x.grid-padding-x
  .cell.small-12.medium-4
    = f.label :user_id, 'Add a Permission by Email Address'
    = f.select :user_id, [], { prompt: 'Type an email address' }, data: { controller: 'ts--search', ts__search_url_value:users_query_grant_grant_permissions_path(grant_id: @grant.id) }

  .cell.small-12.medium-6
    = f.label :role, 'Grant Role'
    = f.select :role, grant_permission_role_select_options, include_blank: 'Please select a role'

= render partial: 'grant_permissions/checkboxes', locals: { f: f }

.grid-x
  .actions
    = f.hidden_field :grant_id, value: grant.id
    = f.submit 'Save', class: 'button'
    = link_to 'Cancel', grant_grant_permissions_path, class: 'button secondary'
