- content_for(:page_title, "Edit User Permissions")

%h1#grant-name
  = link_to @grant.name, grant_path(@grant)
%h2#section
  Edit User Permission

.small-12.cell
  %ul.breadcrumbs
    %li
      = link_to 'Home', root_path
    %li
      = link_to 'Grant Home', grant_path(@grant)
    %li
      = link_to 'Edit', edit_grant_path(@grant)
    %li
      = link_to 'Permissions', grant_grant_permissions_path(@grant)
    %li
      Edit Permission

= render 'shared/grant_state', { grant: @grant }

= render 'shared/grant_edit_tabbed_menu', { grant: @grant }

.tabs-panel.is-active
  %h3
    = "Edit #{full_name(@grant_permission.user)}'s Permission"

  .grid-x
    .cell
      = form_with model: [@grant, @grant_permission], local: true do |f|
        = render 'edit_form', f: f, grant: @grant
