- content_for(:page_title, 'Edit User Permission')

= render 'shared/grant_header', { grant: @grant, section_title: yield(:page_title) }

.grid-x
  .small-12.cell
    %ul.breadcrumbs
      %li
        = link_to 'Home', root_path
      %li
        = link_to 'Grant Home', grant_path(@grant)
      %li
        = link_to 'Edit', edit_grant_path(@grant)
      %li
        = link_to 'Permissions', grant_grant_permissions_path(@grant)
      %li
        Edit Permission


= render 'shared/grant_edit_tabbed_menu', { grant: @grant }

.tabs-panel.is-active

  = render 'permissions_header'

  .grid-x
    .cell
      = form_with model: [@grant, @grant_permission], local: true, data: { turbo: false } do |f|
        = render 'edit_form', f: f, grant: @grant
