- content_for(:page_title, "Edit - #{@grant.name}")

= render 'shared/grant_edit_tabbed_menu', { grant: @grant }

.tabs-panel.is-active
  %h3
    Permissions

  %p
    - unless @current_user_role == 'viewer'
      = link_to 'Add new permission', new_grant_grant_permission_path
      = ' | '
    = link_to 'View all Grants', grants_path

  - unless @grant_permissions.present?
    %p
      No roles have been assigned on this grant.
  - else
    %table
      %thead
        %tr
          %th
            Name
          %th
            Role
          %th

      %tbody
        - @grant_permissions.each do |grant_permission|
          %tr
            %td
              = full_name(grant_permission.user)
            %td
              = grant_permission.role
            %td
              = render partial: "#{@current_user_role}_links", locals: { grant_permission: grant_permission, grant: @grant }
