- content_for(:page_title, "Edit - #{@grant.name}")

%h1#grant-name
  = link_to @grant.name, grant_path(@grant)
%h2#section
  Permissions

.small-12.cell
  %ul.breadcrumbs
    %li
      = link_to 'Home', root_path
    %li
      = link_to 'Grant Home', grant_path(@grant)
    %li
      = link_to 'Edit', edit_grant_path(@grant)
    %li
      Permissions

= render 'shared/grant_state', { grant: @grant }

= render 'shared/grant_edit_tabbed_menu', { grant: @grant }

.tabs-panel.is-active
  %p
    - if policy(@grant).grant_editor_access?
      = link_to 'Add new permission', new_grant_grant_permission_path(@grant)

  - unless @grant_permissions.present?
    %p
      No roles have been assigned on this grant.
  - else
    %table
      %thead
        %tr
          %th
            Name
          %th
            Role
          %th

      %tbody
        - @grant_permissions.each do |grant_permission|
          %tr
            %td
              = full_name(grant_permission.user)
            %td
              = grant_permission.role.capitalize
            %td
              = render partial: "#{current_user.get_role_by_grant(grant: @grant)}_links", locals: { grant_permission: grant_permission, grant: @grant }
