- content_for(:page_title, "Edit Permissions - #{@grant.name}")

= render 'shared/grant_header', { grant: @grant, section_title: 'Edit Permissions' }

.grid-x
  .small-12.cell
    %ul.breadcrumbs
      %li
        = link_to 'Home', root_path
      %li
        = link_to 'Grant Home', grant_path(@grant)
      %li
        = link_to 'Edit', edit_grant_path(@grant)
      %li
        Permissions

= render 'shared/grant_edit_tabbed_menu', { grant: @grant }

.tabs-panel.is-active
  - if policy(@grant).grant_editor_access?
    #submenu.top-bar
      .top-bar-left
        %ul.menu
          %li.menu-text
            Actions:
          %li
            = link_to 'Grant access to another user', new_grant_grant_permission_path(@grant)

  - unless @grant_permissions.present?
    %p
      No roles have been assigned on this grant.
  - else

    = render partial: 'shared/pagy_header', locals: { pagy: @pagy }

    %table.hover
      %thead
        %tr
          %th
            Name
          %th
            Role
          %th
            Notifications
          %th

      %tbody
        - @grant_permissions.each do |grant_permission|
          - grant_permission_user_name = full_name(grant_permission.user)
          %tr
            %td
              = grant_permission_user_name
            %td
              = grant_permission.role.capitalize
            %td
              = on_off_boolean(grant_permission.submission_notification)
            %td
              = render partial: "#{current_user.get_role_by_grant(grant: @grant)}_links", locals: { grant_permission: grant_permission, grant: @grant, grant_permission_user_name: grant_permission_user_name }
