- content_for(:page_title, "Edit Permissions - #{@grant.name}")

= render 'shared/grant_header', { grant: @grant, section_title: 'Edit Permissions' }

.grid-x
  .small-12.cell
    %ul.breadcrumbs
      %li
        = link_to 'Home', root_path
      %li
        = link_to 'Grant Home', grant_path(@grant)
      %li
        = link_to 'Edit', edit_grant_path(@grant)
      %li
        Permissions

= render 'shared/grant_edit_tabbed_menu', { grant: @grant }

.tabs-panel.is-active
  - if policy(@grant).grant_editor_access?
    #submenu.top-bar
      .top-bar-left
        %ul.menu
          %li.menu-text
            Actions:
          %li
            = link_to 'Grant access to another user', |
                        new_grant_grant_permission_path(@grant), |
                        data: { turbo_frame: 'new_permission' }

  %p
    Note: All Grants must have at least one Admin.

  = turbo_frame_tag 'new_permission'

  - unless @grant_permissions.present?
    %p
      No roles have been assigned on this grant.
  - else
    = render partial: 'shared/pagy_header', locals: { pagy: @pagy }

  #permissions
    #turbo-table
      .grid-x.grid-padding-x.align-bottom.header
        .cell.small-12.medium-3
          Name
        .cell.small-12.medium-1
          Grant Contact
        .cell.small-12.medium-2
          Submission Notifications
        .cell.small-12.medium-4
          Role
        .cell.small-12.medium-2

      #grant-permissions
        - @grant_permissions.each_with_index do |grant_permission, i|
          = render partial: 'grant_permission', locals: { grant: @grant, grant_permission: grant_permission, i: i }

