- content_for(:page_title, "New Permission for #{@grant.name}")

= render 'shared/grant_header', { grant: @grant, section_title: 'New Permission' }

.grid-x
  .small-12.cell
    %ul.breadcrumbs
      %li
        = link_to 'Home', root_path
      %li
        = link_to 'Grant Home', grant_path(@grant)
      %li
        = link_to 'Edit', edit_grant_path(@grant)
      %li
        = link_to 'Permissions', grant_grant_permissions_path(@grant)
      %li
        New Permission

= render 'shared/grant_edit_tabbed_menu', { grant: @grant }

.tabs-panel.is-active

  %p
    = "Add someone to this Grant and control their access. They will need to have logged in to #{COMPETITIONS_CONFIG[:application_name]} first."

  = turbo_frame_tag 'new_permission' do
    .grid-x.grid-padding-x.grid-padding-y
      .cell
        = form_with model: [@grant, @grant_permission], local: true, data: { turbo: false } do |f|
          = render partial: 'new_form', locals: { f: f, grant: @grant, users: @users, grant_permission: @grant_permission }
