- content_for(:page_title, "New Permission for #{@grant.name}")

= render 'shared/grant_header', { grant: @grant, section_title: 'New Permission' }

.grid-x
  .small-12.cell
    %ul.breadcrumbs
      %li
        = link_to 'Home', root_path
      %li
        = link_to 'Grant Home', grant_path(@grant)
      %li
        = link_to 'Edit', edit_grant_path(@grant)
      %li
        = link_to 'Permissions', grant_grant_permissions_path(@grant)
      %li
        New Permission

= render 'shared/grant_edit_tabbed_menu', { grant: @grant }

.tabs-panel.is-active

  %p
    = link_to 'Back to Permissions', grant_grant_permissions_path
  %ul
    %li
      %strong
        Admin
      = "- Delete, edit, and view grant and its submissions and reviews."
    %li
      %strong
        Editor
      = "- Edit and view grant and its submissions and reviews."
    %li
      %strong
        Viewer
      = "- View grant and its submissions and reviews."

  .grid-x
    .cell
      = form_with model: [@grant, @grant_permission], local: true do |f|
        = render 'new_form', f: f, grant: @grant, users: @users
