%p
  This is a friendly reminder that you have been invited by #{full_name(@inviter)} to be a reviewer for
  %br
  #{@grant.name}
  %br
  a grant in #{link_to COMPETITIONS_CONFIG[:application_name], @login_url}.

%p
  Once you have logged in, you may also opt out of this request.

%p
  If you have questions, you can contact #{full_name(@inviter)} at #{@inviter.email}.

%p
  Thank you.
