.grid-x
  .cell
    .grid-x
      = f.label :grant, 'Grant: '
      = link_to grant.name, grant_path(grant)
    .grid-x
      = f.label :user, 'User\'s Email: '
      = @user.email
    .grid-x
      = f.label :grant_role, 'Grant Role'
      = f.select :grant_role, grant_user_grant_role_select_options

.grid-x
  .actions
    = f.submit 'Update', class: 'button'
    = link_to 'Cancel', grant_grant_users_path, class: 'button secondary'
