%p#notice= notice
%h2
  = @grant.name
  Permissions
- if @grant_users.present?
  %table
    %thead
      %tr
        %th
          Name
        %th
          Role
        %th

    %tbody
      - @grant_users.each do |gu|
        %tr
          %td
            = gu.user.name
          %td
            = gu.grant_role
          %td
            %ul
              %li= link_to 'Edit', edit_grant_grant_user_path(@grant, gu)
              %li= link_to 'Delete', grant_grant_user_path(@grant, gu), method: :delete, data: { confirm: 'Are you sure?' }
- else
  %p
    No roles have been assigned on this grant.

-if policy(@grant).edit?
  = link_to 'New Grant User', new_grant_grant_user_path
  = ' | '
= link_to 'Back', grants_path


