- content_for(:page_title, "Edit User Permissions")

= render 'shared/grant_edit_tabbed_menu', { grant: @grant }
.tabs-panel.is-active
  %h2
    = "Edit #{@grant_permission.user.name}'s Permission"

  .grid-x
    .cell
      = form_with model: [@grant, @grant_permission], local: true do |f|
        = render 'edit_form', f: f, grant: @grant
