%h3
  Log In

.cell
  .instructions.saml
  = button_to "With your #{COMPETITIONS_CONFIG[:devise][:saml_authenticatable][:idp_entity_name]}",  new_saml_user_session_path, method: :get, data: { turbo: "false" }, class: 'saml-log-in button expanded'
.cell.or
  OR
.cell
  = button_to "Continue with your #{COMPETITIONS_CONFIG[:application_name]} account",  new_registered_user_session_path, method: :get, class: 'registered-user-log-in button expanded'

  %p

    = "New user (without #{COMPETITIONS_CONFIG[:devise][:saml_authenticatable][:idp_entity_name]})?"
    = link_to 'Create an account', new_registered_user_registration_path

    = render 'devise/shared/login_append_links'
