
%h3
  = "Log in"

.cell
  .instructions.registered
    With your institutional account
  = link_to "With #{COMPETITIONS_CONFIG[:devise][:saml_authenticatable][:idp_entity_name]}",  new_saml_user_session_path, class: 'saml-log-in button expanded', id: 'saml_login_link_button'
.cell.or
  OR
.cell
  .instructions.registered
    Enter your account details
  = render partial: 'devise/sessions/form', locals: { resource: 'registered_user', resource_name: 'registered_user' }
.cell
  = render partial: 'devise/shared/links', locals: {resource: 'registered_user', resource_name: 'registered_user' }
