.card#grant-dates
  %h4.card-divider
    Dates
  .card-section
    %dl
      %dt
        Publish Date:
      %dd
        = grant.publish_date
      %dt
        Submission Open Date:
      %dd
        = grant.submission_open_date
      %dt.secondary
        Submission Close Date:
      %dd
        = grant.submission_close_date
      - if current_user.present? && grant.panel.start_datetime? && (current_user.get_role_by_grant(grant: grant).present? || grant.reviewers.include?(current_user))
        %dt
          Panel Start:
        %dd
          = grant.panel.start_datetime
        %dt.secondary
          Panel End:
        %dd
          = grant.panel.end_datetime
