.card#grant-dates
  %h4.card-divider
    Dates
  .card-section
    %dl
      %dt
        Publish Date:
      %dd
        = time_tag(grant.publish_date, grant.publish_date.to_fs)
      %dt
        Submission Period:
      %dd
        = submission_period(grant: grant)
      - if current_user.present?
        - if grant.panel.start_datetime? && (current_user.get_role_by_grant(grant: grant).present? || grant.reviewers.include?(current_user))
          %dt
            Panel Start:
          %dd
            = time_tag(grant.panel.start_datetime, grant.panel.start_datetime.to_formatted_s(:default))
          %dt
            Panel End:
          %dd
            = time_tag(grant.panel.end_datetime, grant.panel.end_datetime.to_formatted_s(:default))
          %hr
            .text-center
              = link_to 'View Panel', grant_panel_path(grant)
        - elsif current_user.get_role_by_grant(grant: grant).present?
          %hr
          .text-center
            = link_to 'Set Panel Time', edit_grant_panel_path(@grant)
