= form_with model: grant, local: true, id: 'grant-edit' do |f|
  .tabs-panel#overview.is-active
    = render 'form', f: f, grant: grant
  .tabs-panel#questions
    = render 'questions/grant_edit_list', f: f, grant: grant, questions: @questions
  .tabs-panel#permissions
    = render 'grant_users/grant_edit_list'

  = f.hidden_field :organization_id, value: current_user.organization.id
  .actions
    = f.submit 'Save and Complete', class: 'button'
    = f.submit 'Save as Draft', class: 'button warning', name: 'draft', confirm: 'Drafts will not become visible until Completed'
    - if grant.persisted?
      = link_to 'Cancel', grant, class: 'button secondary'
    - else
      = link_to 'Cancel', grants_path, class: 'button secondary'
