%table#grants
  %thead
    %tr
      %th
        = sort_link(q, :name, 'Name', { title: 'Sort on Grant Name' })
      %th
        = sort_link(q, :state, 'State', { title: 'Sort on State' })
      %th
        = sort_link(q, :publish_date, { title: 'Sort on Publish Date' })
      %th
        = sort_link(q, :submission_open_date, { title: 'Sort on Submission Open Date' })
      %th
        = sort_link(q, :submission_close_date, { title: 'Sort on Submission Close Date' })
      %th

  %tbody
    - grants.each do |grant|
      %tr{ data: { grant: grant.id } }
        %td
          = link_to grant.name, grant
        %td
          = grant.state.titleize
        %td
          = time_tag(grant.publish_date.beginning_of_day, grant.publish_date.beginning_of_day.to_formatted_s(:date_only))
        %td
          = time_tag(grant.submission_open_date.beginning_of_day, grant.submission_open_date.beginning_of_day.to_formatted_s(:date_only))
        %td
          = time_tag(grant.submission_close_date.end_of_day, grant.submission_close_date.end_of_day.to_formatted_s(:date_only))
        - if policy(grant).edit?
          = render 'grants/manage_links', { grant: grant}
        - else
          %td
