%table#grants
  %thead
    %tr
      %th
        = sort_link(q, :title, 'Grant Title', {}, { title: 'Sort on Grant Title' })
      %th
        = sort_link(q, :state, 'State', {}, { title: 'Sort on State' })
      %th
        = sort_link(q, :publish_date, {}, { title: 'Sort on Publish Date' })
      %th
        = sort_link(q, :submission_open_date, {}, { title: 'Sort on Submission Open Date' })
      %th
        = sort_link(q, :submission_close_date, {}, { title: 'Sort on Submission Close Date' })
      %th

  %tbody
    - grants.each do |grant|
      %tr{ data: { grant: grant.id } }
        %td= link_to grant.name, grant
        %td= grant.state.titleize
        %td= grant.publish_date
        %td= grant.submission_open_date
        %td= grant.submission_close_date
        - if policy(grant).edit?
          = render 'grants/manage_links', { grant: grant}
        - else
          %td
