- content_for(:page_title, "Edit - #{@grant.name}")
- disable_fields = !policy(@grant).update?

= render 'shared/grant_header', { grant: @grant, section_title: 'Edit' }

.small-12.cell
  %ul.breadcrumbs
    %li
      = link_to 'Home', root_path
    %li
      = link_to 'Grant Home', grant_path(@grant)
    %li
      Edit

= render 'shared/grant_edit_tabbed_menu', { grant: @grant }

.tabs-panel.is-active
  = form_with model: @grant, id: 'grant-edit', local: true, data: { turbo: false } do |f|
    = render 'form', f: f, grant: @grant, disable_fields: disable_fields

