- content_for(:page_title, "#{@grant.name}")

%h1#grant-home
  = @grant.name
- if policy(@grant).update?
  #sub-header.grid-x
    .cell.small-12
      = render 'shared/grant_state', { grant: @grant }

.small-12.cell
  %ul.breadcrumbs
    %li
      = link_to 'Home', root_path
    %li
      Grant Home
    - if current_user&.get_role_by_grant(grant: @grant)
      %li
        = link_to 'Edit', edit_grant_path(@grant)


.grid-x.grid-margin-x
  %aside.small-12.medium-3.cell
    = render partial: 'dates_card', locals: { grant: @grant }
    - if @grant.contacts.present?
      = render partial: 'contacts_card', locals: { grant: @grant, contacts: @grant.contacts.map(&:user) }
  .small-12.medium-9.cell#rfa
    = @grant.rfa.html_safe

    = render 'apply_button', grant: @grant
