- content_for(:page_title, "#{@grant.name}")

.grid-x.grid-margin-x
  .small-12.cell#title
    %h1.name{class: @grant.name_length_class}
      = @grant.name

.grid-x.grid-margin-x
  %aside.small-12.medium-3.cell
    = render partial: 'dates_card', locals: { grant: @grant }
  .small-12.medium-9.cell#rfa
    %h4
      RFA
    = @grant.rfa.html_safe

    = link_to 'Apply Now', grant_apply_path(@grant), class: 'button expanded' if @grant.accepting_submissions?
    %hr

    %ul.menu.simple#user-links
      =# @grant.apply_menu_link
      %li
        = link_to 'View All Grants', root_path

    %ul.menu.simple#admin-links
      = @grant.edit_menu_link
      =# @grant.view_submissions_menu_link

