- content_for(:page_title, "#{@grant.name}")

.grid-x.grid-margin-x
  .small-12.cell#title
    %h1.name{class: @grant.name_length_class}
      = @grant.name
      %small
        = @grant.organization.name

.grid-x.grid-margin-x
  %aside.small-12.medium-3.cell
    .card#grant-dates
      %h4.card-divider
        Dates
      .card-section
        %dl
          %dt
            Publish Date:
          %dd
            = @grant.publish_date
          %dt
            Submission Open Date:
          %dd
            = @grant.submission_open_date
          %dt.secondary
            Submission Close Date:
          %dd
            = @grant.submission_close_date
  .small-12.medium-9.cell#rfa
    %h4
      RFA
    = @grant.rfa.html_safe

    %hr

    %ul.menu.simple#user-links
      =# @grant.apply_menu_link
      %li
        = link_to 'View All Grants', root_path

    %ul.menu.simple#admin-links
      = @grant.edit_menu_link
      =# @grant.view_submissions_menu_link

