%h3
  My Reviews

= search_form_for @q, url: profile_reviews_path do |f|
  .grid-x.grid-margin-x.medium-margin-collapse
    .small-12.medium-2.cell
      .text-left.middle
        = f.label :grant_name_cont, 'Search by Grant Name'
    .small-12.medium-2.cell
      = f.search_field :grant_name_cont, placeholder: 'Grant'
    .small-12.medium-3.cell
      = f.submit 'Search', class: 'button'
      = link_to 'Reset', profile_reviews_path, class: 'button clear secondary'
- if @reviews.empty?
  %p
    - if params[:q].present? && params[:q][:grant_name_cont]
      You have no Reviews for Grants matching "#{params[:q][:grant_name_cont]}"
    - else
      You have no assigned reviews.

- else

  = render partial: 'shared/pagy_header', locals: { pagy: @pagy }

  %table.hover
    %thead
      %tr
        %th
          = sort_link(@q, :overall_impact_score, 'Status', { title: 'Sort on Status' })
        %th
          = sort_link(@q, :grant_name, 'Grant', { title: 'Sort on Grant' })
        %th
          = sort_link(@q, :applicants_last_name, 'Applicants', { title: 'Sort on Applicants' })
        %th
          = sort_link(@q, :submission_title, 'Submission Title', { title: 'Sort on Submission Title' })
        %th
          = sort_link(@q, :created_at, 'Assigned On', { title: 'Sort on Assigned Date' })
        %th
          = sort_link(@q, :grant_review_close_date, 'Due by Date', { title: 'Sort on Due Date' })

    %tbody
      - @reviews.each do |review|
        - review_data = display_review_data(review: review, user: current_user)
        - grant = review.grant
        - submission = review.submission

        %tr{ id: dom_id(review) }
          %td
            = review_data.link 
          %td
            = review.grant.name
            = "(unpublished)" unless grant.published?
          %td
            - submission.applicants.each do |applicant|
              = link_to sortable_full_name(applicant), grant_submission_path(grant, submission)
              %br
          %td
            = link_to_if grant.published?, truncate(submission.title), grant_submission_path(grant, submission)
          %td
            = review_data.created_date
          %td
            = review_data.due_date

  != pagy_foundation_nav(@pagy)
