%h3
  My Reviews

= search_form_for @q, url: profile_reviews_path do |f|
  .grid-x.grid-margin-x.medium-margin-collapse
    .small-12.medium-2.cell
      %label.text-left.middle
        Search Grant Name
    .small-12.medium-2.cell
      = f.search_field :grant_name_cont
    .small-12.medium-3.cell
      = f.submit 'Search', class: 'button'
      = link_to 'Reset', profile_reviews_path, class: 'button clear secondary'

- if @reviews.none?
  %p
    No reviews were found.
- else

  = render partial: 'shared/pagy_header', locals: { pagy: @pagy }

  %table
    %thead
      %tr
        %th
          = sort_link(@q, :overall_impact_score, 'Completed')
        %th
          = sort_link(@q, :grant_name, 'Grant')
        %th
          = sort_link(@q, :applicant_last_name, 'Applicant')
        %th
          = sort_link(@q, :submission_title, 'Submission Title')
        %th
          = sort_link(@q, :grant_review_close_date, 'Due Date')

    %tbody
      - @reviews.each do |review|
        %tr
          %td= review.is_complete? ? 'Completed' : 'Incomplete'
          %td= review.grant.name
          %td= sortable_full_name(review.submission.applicant)
          %td= link_to truncate(review.submission.title), grant_submission_path(review.grant, review.submission)
          %td= review.grant.review_close_date

  != pagy_foundation_nav(@pagy)
