%h1 Listing reviews

%table
  %thead
    %tr
      %th Overall impact score
      %th Overall impact comment
      %th Criterion average
      %th User
      %th Submission
      %th
      %th
      %th

  %tbody
    - @reviews.each do |review|
      %tr
        %td= review.overall_impact_score
        %td= review.overall_impact_comment
        %td= review.criterion_average
        %td= review.user
        %td= review.submission
        %td= link_to 'Show', review
        %td= link_to 'Edit', edit_review_path(review)
        %td= link_to 'Destroy', review, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Review', new_review_path
