= form_with(model: field, url: field, scope: 'field', local: true) do |f|
  - if f.object.errors.any?
    #error_explanation
      %h2
        = pluralize(f.object.errors.count, "error")
        prohibited this field from being saved:
      %ul
        - f.object.errors.full_messages.each do |message|
          %li= message
  .row
    = f.label :label, 'Label / Name'
    = f.text_field :label, required: true
  .row
    = f.label :type
    = f.select :type, Field.subclasses.map(&:to_s).map { |sc| [sc.split('Field').first, sc] }, include_blank: 'Select Answer Type', required: true
  .row
    = f.label :help_text, 'Help Text'
    = f.text_field :help_text
    %p.small
      Caption text to assist the user
  .row
    = f.label :placeholder, 'Placeholder Text'
    = f.text_field :placeholder
    %p.small
      Text placed within the form field to assist user input.
  .actions
    = f.submit
