%p#notice= notice
%h1 Fields
%table
  %thead
    %tr
      %th
        Name/Label
      %th
        Type
      %th
        Help Text
      %th
        Placeholder
      %th
        Links
  %tbody
    - @fields.each do |field|
      %tr
        %td
          = field.label
        %td
          = field.type.to_s
        %td
          = field.help_text
        %td
          = field.placeholder
        %td
          %ul
            %li= link_to 'Edit', edit_field_path(field)
            %li= link_to 'Delete', field_path(field), method: :delete

%br/
= link_to 'New Field', new_field_path
