- content_for(:page_title, "Reviewers - #{@grant.name}")

= render 'shared/grant_header', { grant: @grant, section_title: 'Reviewers' }

.grid-x
  .small-12.cell
    %ul.breadcrumbs
      %li
        = link_to 'Home', root_path
      %li
        = link_to 'Grant Home', grant_path(@grant)
      %li
        = link_to 'Edit', edit_grant_path(@grant)
      %li
        Reviewers

= render 'shared/grant_edit_tabbed_menu', { grant: @grant }

.tabs-panel.is-active
  #submenu.top-bar
    .top-bar-left
      %ul.menu
        %li.menu-text
          Actions:
        %li
          Add Reviewer by Email Address
          %div{ style: 'display: inline-block' }
            = form_for :grant_reviewer, url: grant_reviewers_path(@grant) do |f|
              .input-group
                = f.email_field :reviewer_email, placeholder: 'Email', class: 'input-group-field', required: true
                .input-group-button
                  = f.submit 'Look Up', class: 'button small'
        %li
          = link_to 'View Invited Reviewers', grant_invitations_path(@grant)

  %hr

  .grid-x.grid-margin-x
    %aside.small-12.medium-3.cell
      = render partial: 'grants/dates_card', locals: { grant: @grant }
    .small-12.medium-9.cell
      %p
        Each submission may be assessed by up to
        = succeed '.' do
          = link_to "#{@grant.max_reviewers_per_submission} #{'reviewer'.pluralize(@grant.max_reviewers_per_submission)}", edit_grant_path(@grant, anchor: 'reviewers'), title: 'Change this setting'

      %p
        Each reviewer may assess up to
        = succeed '.' do
          = link_to "#{@grant.max_submissions_per_reviewer} #{'submission'.pluralize(@grant.max_submissions_per_reviewer)}", edit_grant_path(@grant, anchor: 'reviewers'), title: 'Change this setting'

      %p
        Note: Draft submissions are not reviewable.

      .turbo-table
        = turbo_frame_tag :reviewers do
          .header.grid-x.grid-padding-x.align-bottom
            .cell.small-3
              Reviewer
            .cell.small-3.text-center
              Available
            .cell.small-3.text-center
              Assigned / Complete
            .cell.small-3
              Assign / View
            .cell.small-2

          .rows
            - @grant_reviewers.each do |grant_reviewer|
              - reviewer = grant_reviewer.reviewer
              = render partial: 'grant_reviewers/reviewer', locals: { grant: @grant,
                                                                      reviewer: reviewer,
                                                                      grant_reviewer: grant_reviewer,
                                                                      reflow: 'false' }
