%p
  Dear Grant Administrator,
%p
  = link_to @application_name, root_url
  has a new submission for Grant:
  #{ link_to @grant.name, grant_url(@grant) }.
%p
  = applicant_label(@applicants)
  = full_name_list(@applicants)
  %br
  - unless @applicants.include?(@submitter)
    Submitter:
    = full_name(@submitter)
    %br
  Submission:
  = link_to "#{@submission.title}", grant_submission_url(@grant, @submission)
%p
  Thank you.