%header.cell
  .top-bar
    .top-bar-left
      %ul.menu
        %li
          .home
            = link_to "#{COMPETITIONS_CONFIG[:application_name]}", root_path
        - if user_signed_in?
          - if current_user.system_admin? || current_user.grant_creator? || current_user.editable_grants.kept.any?
            %li
              = link_to 'MyGrants', profile_grants_path
          - if current_user.reviews.kept.any?
            %li
              = link_to 'MyReviews', profile_reviews_path
          - if current_user.submissions.kept.any?
            %li
              = link_to 'MySubmissions', profile_submissions_path
    .top-bar-right
      %ul.dropdown.menu{"data-dropdown-menu" => ""}
        = render 'layouts/header_help_links'
        = render 'devise/menu/login_items'
