!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}/
    %title
      = title_tag_content(page_title: yield(:page_title))
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = stylesheet_link_tag     wicked_pdf_asset_base64("pdf")
    = javascript_include_tag "application", "data-turbo-track": "reload", defer: true
    / = turbo_include_tags


  %body.grid-container
    = render 'layouts/header'

    #content.grid-x.grid-margin-x.grid-margin-y
      %main.cell{ class: controller_name }
        = render 'layouts/flash'

        = yield

    #footer.grid-x.grid-margin-x.grid-margin-y
      = render 'layouts/footer'
